<div class="b-related-articles">
    <div class="container">
        <div class="related-articles-box">
            <h2>Related articles</h2>
            <div class="related-articles-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            {{>blog-item
                            category="how-tos"
                            img="./img/blog/item4"
                            title="Synthesis of achromatic antireflective coatings"
                            }}
                        </div>
                        <div class="swiper-slide">
                            {{>blog-item
                            category="how-tos"
                            img="./img/blog/item15"
                            title="Receiving system of a pulsed laser rangefinder"
                            }}
                        </div>
                        <div class="swiper-slide">
                            {{>blog-item
                            category="how-tos"
                            img="./img/blog/item6"
                            title="Polarization control in single mode optical fibers"
                            }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="related-articles-all">
                <a href="./blog{{htmlPrefix}}">all related articles</a>
            </div>
        </div>
    </div>
</div>