<div class="b-search">
    <div class="search-box">
        <div class="form-line">
            <form class="search-form" action="/">
                <input name="s" type="text" inputmode="search" data-place-desk="Try “customer” or “glasses” etc" data-place-mob="Search..." placeholder="Try “customer” or “glasses” etc"
                    required>
                {{!-- <span class="search-focused">Drücken Sie Enter zum Suchen</span> --}}
                <button type="submit" class="search-btn">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M15.625 3.75C10.1022 3.75 5.625 8.22715 5.625 13.75C5.625 16.0609 6.40885 18.1887 7.72518 19.882L4.11611 23.4911C3.62796 23.9792 3.62796 24.7707 4.11611 25.2589C4.60428 25.747 5.39572 25.747 5.88389 25.2589L9.49295 21.6499C11.1863 22.9661 13.3141 23.75 15.625 23.75C21.1479 23.75 25.625 19.2729 25.625 13.75C25.625 8.22715 21.1479 3.75 15.625 3.75ZM8.125 13.75C8.125 9.60786 11.4829 6.25 15.625 6.25C19.7671 6.25 23.125 9.60786 23.125 13.75C23.125 17.8921 19.7671 21.25 15.625 21.25C11.4829 21.25 8.125 17.8921 8.125 13.75Z"
                            fill="#A3B1CD" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M15.625 3.75C10.1022 3.75 5.625 8.22715 5.625 13.75C5.625 16.0609 6.40885 18.1887 7.72518 19.882L4.11611 23.4911C3.62796 23.9792 3.62796 24.7707 4.11611 25.2589C4.60428 25.747 5.39572 25.747 5.88389 25.2589L9.49295 21.6499C11.1863 22.9661 13.3141 23.75 15.625 23.75C21.1479 23.75 25.625 19.2729 25.625 13.75C25.625 8.22715 21.1479 3.75 15.625 3.75ZM8.125 13.75C8.125 9.60786 11.4829 6.25 15.625 6.25C19.7671 6.25 23.125 9.60786 23.125 13.75C23.125 17.8921 19.7671 21.25 15.625 21.25C11.4829 21.25 8.125 17.8921 8.125 13.75Z"
                            fill="url(#search_paint0_linear)" />
                        <defs>
                            <linearGradient id="search_paint0_linear" x1="3" y1="3" x2="20.0269" y2="2.70934"
                                gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#229AFA" />
                                <stop offset="1" stop-color="#1168F8" />
                            </linearGradient>
                        </defs>
                    </svg>
                </button>
            </form>
            <div class="close-search close-search-modal">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8.90146 7.13388C8.41331 6.64572 7.62185 6.64572 7.13369 7.13388C6.64554 7.62203 6.64554 8.41349 7.13369 8.90165L13.3209 15.0888L7.13373 21.276C6.64558 21.7642 6.64558 22.5556 7.13373 23.0438C7.62189 23.5319 8.41334 23.5319 8.9015 23.0438L15.0887 16.8566L21.2758 23.0438C21.764 23.5319 22.5554 23.5319 23.0436 23.0438C23.5318 22.5556 23.5318 21.7642 23.0436 21.276L16.8564 15.0888L23.0436 8.90165C23.5318 8.41349 23.5318 7.62203 23.0436 7.13388C22.5555 6.64572 21.764 6.64572 21.2759 7.13388L15.0887 13.3211L8.90146 7.13388Z"
                        fill="#A3B1CD" />
                    <path
                        d="M8.90146 7.13388C8.41331 6.64572 7.62185 6.64572 7.13369 7.13388C6.64554 7.62203 6.64554 8.41349 7.13369 8.90165L13.3209 15.0888L7.13373 21.276C6.64558 21.7642 6.64558 22.5556 7.13373 23.0438C7.62189 23.5319 8.41334 23.5319 8.9015 23.0438L15.0887 16.8566L21.2758 23.0438C21.764 23.5319 22.5554 23.5319 23.0436 23.0438C23.5318 22.5556 23.5318 21.7642 23.0436 21.276L16.8564 15.0888L23.0436 8.90165C23.5318 8.41349 23.5318 7.62203 23.0436 7.13388C22.5555 6.64572 21.764 6.64572 21.2759 7.13388L15.0887 13.3211L8.90146 7.13388Z"
                        fill="url(#search_btn_paint0_linear)" />
                    <defs>
                        <linearGradient id="search_btn_paint0_linear" x1="5.41418" y1="5.41418" x2="18.368" y2="5.19306"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#229AFA" />
                            <stop offset="1" stop-color="#1168F8" />
                        </linearGradient>
                    </defs>
                </svg>
            </div>
        </div>
        <div class="search-tags-box">
            <div class="search-tags-title">Others are searching</div>
            <div class="search-tags">
                <div><a href="#"><span>case historty</span></a></div>
                <div><a href="#"><span>integrations</span></a></div>
                <div><a href="#"><span>creating a customer</span></a></div>
                <div><a href="#"><span>use calendar</span></a></div>
                <div><a href="#"><span>measures</span></a></div>
                <div><a href="#"><span>booking plugin</span></a></div>
                <div><a href="#"><span>adding administaror</span></a></div>
                <div><a href="#"><span>creating new customer</span></a></div>
                <div><a href="#"><span>glasses app</span></a></div>
            </div>
        </div>
    </div>
    <div class="search-bg-layer"></div>
</div>