<section class="calculate">
    <div class="custom_gradient active" data-name="colors"></div>
    <div class="custom_gradient" data-name="logos"></div>
    <div class="custom_gradient" data-name="content"></div>
    <div class="container">
        <div class="calculate__body">
            <div class="calculate__headline">
                <div>
                    <h4 id="calculate__subtitle" class="supname calculate__supname" data-aos="fade-up">
                        Calculate Profit
                    </h4>
                </div>
                <h2 id="calculate__title" class="title calculate__title" data-aos="fade-up" data-aos-delay="50">
                    Talking about numbers
                </h2>
                <p id="calculate__text" class="calculate__text" data-aos="fade-up" data-aos-delay="100">
                    This calculator is designed to show you the uplift for using OptiCore on a daily basis. Whether it
                    is in the time savings or in the overall turnover development. We guarantee you up to 20% improved
                    figures!
                </p>
            </div>
            <div class="calculate__list">
                <div class="calculate__item" data-aos="fade-up" data-aos-delay="150">
                    <h3 id="calculate__card1-title">
                        Work days saved using OptiCore
                    </h3>
                    <h5 id="calculate__timeTitle">Time periods</h5>
                    <div class="calculate__radios">
                        <div class="calculate__radio active">
                            <label for="radio1">
                                <input checked name="check" type="radio" id="radio1" value="40" class="calculate__week"
                                    data-week="Woche" />
                                <span></span>Week
                            </label>
                        </div>
                        <div class="calculate__radio">
                            <label for="radio-2">
                                <input name="check" type="radio" id="radio-2" value="160" class="calculate__month"
                                    data-month="Monat" />
                                <span></span>Month
                            </label>
                        </div>
                        <div class="calculate__radio">
                            <label for="radio-3">
                                <input name="check" type="radio" id="radio-3" value="1920" class="calculate__year"
                                    data-year="Jahr" />
                                <span></span>Year
                            </label>
                        </div>
                    </div>
                    <div class="calculate__store">
                        <p id="calculate__personTitle" data-person="Persons in a store:">
                            Persons in a store: <span id="calc"></span>
                        </p>
                        <div class="calculate__range" id="calculate__range1"></div>
                    </div>
                    <div class="calculate__bottom">
                        <span></span>
                        <p id="calculate__card1-details">saved<br />days</p>
                    </div>
                </div>
                <div class="calculate__item" data-aos="fade-up" data-aos-delay="200">
                    <h3 id="calculate__card2-title">
                        Lenses turnover raised by using the Glasses App
                    </h3>
                    <h5>Time periods</h5>
                    <div class="calculate__radios">
                        <div class="calculate__radio active">
                            <label for="radio-4">
                                <input checked name="check" type="radio" id="radio-4" value="40" />
                                <span></span>Week
                            </label>
                        </div>
                        <div class="calculate__radio">
                            <label for="radio-5">
                                <input name="check" type="radio" id="radio-5" value="160" />
                                <span></span>Month
                            </label>
                        </div>
                        <div class="calculate__radio">
                            <label for="radio-6">
                                <input name="check" type="radio" id="radio-6" value="1920" />
                                <span></span>Year
                            </label>
                        </div>
                    </div>
                    <div class="calculate__store">
                        <p id="calculate__glassesTitle" data-glasses="Glasses sales:">
                            Glasses sales: <span id="calc2"></span>
                        </p>
                        <div class="calculate__range" id="calculate__range"></div>
                    </div>
                    <div class="calculate__bottom">
                        <span></span>
                        <p id="calculate__card2-details">EUR<br />more earning</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>