<section class="customizable first">
    <div class="custom_gradient active" data-name="colors"></div>
    <div class="custom_gradient" data-name="logos"></div>
    <div class="custom_gradient" data-name="content"></div>
    <div class="container">
        <div class="customizable__tabs" data-aos="fade-up">
            <div class="active" data-background="#095FEC" data-name="colors">
                <p id="customizable__title--tab1">Colors</p>
                <span id="customizable__title" class="upper-line">Customizable</span><span class="line-nav"></span>
            </div>
            <div class="second" data-background="#9847FF" data-name="logos">
                <p id="customizable__title--tab2">Logos</p>
            </div>
            <div class="last" data-background="#095FEC" data-name="content">
                <p id="customizable__title--tab3">Content</p>
            </div>
        </div>
        <div class="customizable__list" data-aos="fade-up" data-aos-delay="150">
            <div class="customizable__item active">
                <div class="customizable__row">
                    <div class="customizable__colors custBtn" data-press="Press me" data-pressed="Clicked" id="scene5">
                        <div class="customizable-box-for-btn-black" data-depth="0.1">
                            <div class="customizable__color customizable__color--black" data-background="#313134">Press
                                me
                            </div>
                        </div>
                        <div class="customizable-box-for-btn-yellow" data-depth="0.1">
                            <div class="customizable__color customizable__color--yellow" data-background="#FDBB13">Press
                                me
                            </div>
                        </div>
                        <div class="customizable-box-for-btn-orange" data-depth="0.1">
                            <div class="customizable__color customizable__color--orange" data-background="#FF7648">Press
                                me
                            </div>
                        </div>
                        <div class="customizable-box-for-btn-green" data-depth="0.1">
                            <div class="customizable__color customizable__color--green" data-background="#4AC59B">Press
                                me
                            </div>
                        </div>
                    </div>
                    <div class="customizable__photo">
                        <img class="lazyImportant" id="customizable__color__1" alt="customizable image"
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="./img/customizable-sec/vision-profile-blue.png"
                            data-webp="./img/customizable-sec/vision-profile-blue.webp" width="335" height="221" />
                        <img class="lazyImportant" id="customizable__color__2" alt="customizable image"
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="./img/customizable-sec/vision-profile-blue.png"
                            data-webp="./img/customizable-sec/vision-profile-blue.webp" width="335" height="221" />
                        <img class="lazyImportant" id="customizable__color__3" alt="customizable image"
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="./img/customizable-sec/vision-profile-blue.png"
                            data-webp="./img/customizable-sec/vision-profile-blue.webp" width="335" height="221" />
                        <img class="lazyImportant" id="customizable__color__4" alt="customizable image"
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="./img/customizable-sec/vision-profile-blue.png"
                            data-webp="./img/customizable-sec/vision-profile-blue.webp" width="335" height="221" />
                        <img class="lazyImportant" id="customizable__color__5" alt="customizable image"
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="./img/customizable-sec/vision-profile-blue.png"
                            data-webp="./img/customizable-sec/vision-profile-blue.webp" width="335" height="221" />
                        <div class="customizable__photo-small" id="scene4">
                            <img class="lazyImportant" id="customizable-small__color__1" alt="customizable image"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="./img/customizable-sec/vision-profile-blue-small.png"
                                data-webp="./img/customizable-sec/vision-profile-blue-small.webp" width="347"
                                height="269" data-depth="0.1" />
                            <img class="lazyImportant" id="customizable-small__color__2" alt="customizable image"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="./img/customizable-sec/vision-profile-blue-small.png"
                                data-webp="./img/customizable-sec/vision-profile-blue-small.webp" width="347"
                                height="269" data-depth="0.1" />
                            <img class="lazyImportant" id="customizable-small__color__3" alt="customizable image"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="./img/customizable-sec/vision-profile-blue-small.png"
                                data-webp="./img/customizable-sec/vision-profile-blue-small.webp" width="347"
                                height="269" data-depth="0.1" />
                            <img class="lazyImportant" id="customizable-small__color__4" alt="customizable image"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="./img/customizable-sec/vision-profile-blue-small.png"
                                data-webp="./img/customizable-sec/vision-profile-blue-small.webp" width="347"
                                height="269" data-depth="0.1" />
                            <img class="lazyImportant" id="customizable-small__color__5" alt="customizable image"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="./img/customizable-sec/vision-profile-blue-small.png"
                                data-webp="./img/customizable-sec/vision-profile-blue-small.webp" width="347"
                                height="269" data-depth="0.1" />
                        </div>
                    </div>
                    <div class="customizable__info">
                        <h2 id="customizable__subtitle--tab1">Select colors to match your brand</h2>
                        <p id="customizable__text--tab1">Your corporate colors make OptiCore your happy place. Not only
                            do your colors make your work easier, but you can also provide your customers with a unified
                            image, even in the digital world.</p>
                    </div>
                </div>
            </div>
            <div class="customizable__item">
                <div class="customizable__row">
                    <div class="customizable__photo">
                        <div class="customizable__photoWrap">
                            <img id="customizable__logo__standart" class="image-SVG--bg lazyImportant"
                                alt="customizable"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="./img/customizable-sec/glasses-custom2.png"
                                data-webp="./img/customizable-sec/glasses-custom2.webp" />
                            <img id="customizable__logo__1"
                                class="svg-click customizable__image lazyImportant active optivision" alt="customizable"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="./img/customizable-sec/logo-optivision.svg" />
                            <img id="customizable__logo__2"
                                class="svg-click customizable__image lazyImportant glaslandia" alt="customizable"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="./img/customizable-sec/logo-glaslandia.svg" />
                            <img id="customizable__logo__3" class="svg-click customizable__image lazyImportant lenz"
                                alt="customizable"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="./img/customizable-sec/logo-lenz.svg" />
                            <img id="customizable__logo__4" class="svg-click customizable__image lazyImportant optican"
                                alt="customizable"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="./img/customizable-sec/logo-optician.svg" />
                        </div>
                        <div class="customizable__photo-small2" id="scene6">
                            <img class="lazyImportant" id="customizable-small2__color__1" alt="customizable image"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="./img/customizable-sec/glasses-custom-small.png"
                                data-webp="./img/customizable-sec/glasses-custom-small.webp" width="355" height="201"
                                data-depth="0.1" />
                        </div>
                    </div>
                    <div class="customizable__info">
                        <h2 id="customizable__subtitle--tab2">Upload your logo for unified brand image</h2>
                        <p id="customizable__text--tab2">Your logo stands for individuality and a quality promise to the
                            customer. Take this unique chance.</p>
                    </div>
                    <div class="customizable__circles" id="scene7">
                        <div class="customizable-box-for-circle-one" data-depth="0.1">
                            <div class="customizable__circle customizable__circle--one">
                                <img alt="customizable" class="lazyImportant"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="./img/customizable-sec/logo-optivision.svg" />
                                <div class="checkmark active">
                                    <svg width="15" height="12" viewbox="0 0 15 12" fill="none">
                                        <path d="M1 5L6 9L13 1" stroke="rgb(152, 71, 255)" stroke-width="3"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="customizable-box-for-circle-second" data-depth="0.1">
                            <div class="customizable__circle customizable__circle--second">
                                <img alt="customizable" class="lazyImportant"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="./img/customizable-sec/logo-glaslandia.svg" />
                                <div class="checkmark">
                                    <svg width="15" height="12" viewbox="0 0 15 12" fill="none">
                                        <path d="M1 5L6 9L13 1" stroke="rgb(152, 71, 255)" stroke-width="3"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="customizable-box-for-circle-three" data-depth="0.1">
                            <div class="customizable__circle customizable__circle--three">
                                <img alt="customizable" class="lazyImportant"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="./img/customizable-sec/logo-lenz.svg" />
                                <div class="checkmark">
                                    <svg width="15" height="12" viewbox="0 0 15 12" fill="none">
                                        <path d="M1 5L6 9L13 1" stroke="rgb(152, 71, 255)" stroke-width="3"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="customizable-box-for-circle-four" data-depth="0.1">
                            <div class="customizable__circle customizable__circle--four">
                                <img alt="customizable" class="lazyImportant"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="./img/customizable-sec/logo-optician.svg" />
                                <div class="checkmark">
                                    <svg width="15" height="12" viewbox="0 0 15 12" fill="none">
                                        <path d="M1 5L6 9L13 1" stroke="rgb(152, 71, 255)" stroke-width="3"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="customizable__item">
                <div class="customizable__row">
                    <div class="customizable__photo">
                        <img id="customizable__content" class="lazyImportant" alt="customizable"
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="./img/customizable-sec/content.png"
                            data-webp="./img/customizable-sec/content.webp" />
                        <div class="customizable__photo-small3" id="scene8">
                            <img class="lazyImportant" id="customizable-small3__color__1" alt="customizable image"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="./img/customizable-sec/content-small.png" data-webp="./img/customizable-sec/content-small.webp"
                                width="368" height="251" data-depth="0.1" />
                        </div>
                    </div>
                    <div class="customizable__info">
                        <h2 id="customizable__subtitle--tab3">Choose templates and answer options that fit you</h2>
                        <p id="customizable__text--tab3">We belief that Opticians are great in what they are doing. We
                            support the individual way and order you would like to work with your customers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>