<div class="experience">
  <div class="container">
    <div class="block_title_row">
      <div data-aos="fade-up">
        <h4>Always with you</h4>
      </div>
      <h2 class="title" data-aos="fade-up" data-aos-delay="50">Experience OptiCore on any device,
        any time!</h2>
    </div>
    <div class="content">
      <div class="experience__video">
        <!-- real video
      <video id="video" muted loop playsinline autoplay><source
          id="source2"
          type="video/mp4"
          src="/devices.mp4"
        /></video>
        -->
        <video id="video" muted loop playsinline autoplay>
          <source id="source2" type="video/mp4" src="/Devices-EN.mp4" />
        </video>
       <!--  <img class="lazyWebp" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="./img/experience.png" data-webp="./img/experience.webp" alt="experience" /> -->
      </div>
      <div class="experience__bubbles">
        <div class="experience__bubble experience__bubble--one" data-aos="fade-up" data-aos-delay="0">
          <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="./img/experience/ios.svg" alt="experience" />
          <span>iOS / Mac</span>
        </div>
        <div class="experience__bubble experience__bubble--second" data-aos="fade-up" data-aos-delay="25">
          <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="./img/experience/windows.svg" alt="experience" />
          <span>Windows</span>
        </div>
        <div class="experience__bubble experience__bubble--three" data-aos="fade-up" data-aos-delay="50">
          <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="./img/experience/android.svg" alt="experience" />
          <span>Android</span>
        </div>
        <div class="experience__bubble experience__bubble--four" data-aos="fade-up" data-aos-delay="75">
          <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="./img/experience/linux.svg" alt="experience" />
          <span>Linux</span>
        </div>
        <div class="experience__bubble experience__bubble--five" data-aos="fade-up" data-aos-delay="0">
          <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="./img/experience/safari.svg" alt="experience" />
          <span>Safari</span>
        </div>
        <div class="experience__bubble experience__bubble--six" data-aos="fade-up" data-aos-delay="25">
          <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="./img/experience/chrome.svg" alt="experience" />
          <span>Google Chrome</span>
        </div>
        <div class="experience__bubble experience__bubble--seven" data-aos="fade-up" data-aos-delay="50">
          <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="./img/experience/firefox.svg" alt="experience" />
          <span>Firefox</span>
        </div>
        <div class="experience__bubble experience__bubble--eight" data-aos="fade-up" data-aos-delay="75">
          <img class="lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="./img/experience/edge.svg" alt="experience" />
          <span>Edge</span>
        </div>
      </div>
    </div>
  </div>
</div>