<footer class="footer">
  <div class="container">
    <p>© <span class="year">2021</span> Umami View</p>
    <div class="footer__social">
      <a href="https://www.facebook.com/opti.core.UW" target="_blank">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="15" cy="15" r="15" fill="#A3B1CD"></circle>
          <path
            d="M16.4348 11.1041H17.4998V9.24914C17.3161 9.22387 16.6841 9.16699 15.9482 9.16699C14.4125 9.16699 13.3606 10.1329 13.3606 11.9082V13.542H11.666V15.6157H13.3606V20.8337H15.4382V15.6162H17.0643L17.3224 13.5425H15.4378V12.1138C15.4382 11.5144 15.5996 11.1041 16.4348 11.1041Z"
            fill="white"></path>
        </svg>

      </a>
      <a href="https://www.instagram.com/opti.core/" target="_blank">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip033)">
            <circle cx="15.3848" cy="15" r="15" fill="#A3B1CD"></circle>
            <path
              d="M17.8854 8.33301H12.8854C10.5846 8.33301 8.71875 10.1988 8.71875 12.4997V17.4997C8.71875 19.8005 10.5846 21.6663 12.8854 21.6663H17.8854C20.1862 21.6663 22.0521 19.8005 22.0521 17.4997V12.4997C22.0521 10.1988 20.1862 8.33301 17.8854 8.33301ZM20.8021 17.4997C20.8021 19.108 19.4937 20.4163 17.8854 20.4163H12.8854C11.2771 20.4163 9.96875 19.108 9.96875 17.4997V12.4997C9.96875 10.8913 11.2771 9.58301 12.8854 9.58301H17.8854C19.4937 9.58301 20.8021 10.8913 20.8021 12.4997V17.4997Z"
              fill="white"></path>
            <path
              d="M15.3822 11.666C13.5413 11.666 12.0488 13.1585 12.0488 14.9993C12.0488 16.8402 13.5413 18.3327 15.3822 18.3327C17.223 18.3327 18.7155 16.8402 18.7155 14.9993C18.7155 13.1585 17.223 11.666 15.3822 11.666ZM15.3822 17.0827C14.2338 17.0827 13.2988 16.1477 13.2988 14.9993C13.2988 13.8502 14.2338 12.916 15.3822 12.916C16.5305 12.916 17.4655 13.8502 17.4655 14.9993C17.4655 16.1477 16.5305 17.0827 15.3822 17.0827Z"
              fill="white"></path>
            <path
              d="M18.9657 11.861C19.211 11.861 19.4098 11.6621 19.4098 11.4168C19.4098 11.1715 19.211 10.9727 18.9657 10.9727C18.7203 10.9727 18.5215 11.1715 18.5215 11.4168C18.5215 11.6621 18.7203 11.861 18.9657 11.861Z"
              fill="white"></path>
          </g>
          <defs>
            <clipPath id="clip033">
              <rect width="32" height="32" fill="white" transform="translate(0.384766)"></rect>
            </clipPath>
          </defs>
        </svg>
      </a>
      <a href="https://www.linkedin.com/showcase/opti-core/" target="_blank">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip66665)">
            <circle cx="15.7695" cy="15" r="15" fill="#A3B1CD"></circle>
            <path
              d="M21.5958 20.8335V20.833H21.5987V16.5543C21.5987 14.4611 21.148 12.8486 18.701 12.8486C17.5246 12.8486 16.7351 13.4942 16.4128 14.1062H16.3788V13.044H14.0586V20.833H16.4746V16.9762C16.4746 15.9607 16.6671 14.9788 17.9246 14.9788C19.1637 14.9788 19.1822 16.1377 19.1822 17.0413V20.8335H21.5958Z"
              fill="white"></path>
            <path d="M10.125 13.0449H12.5439V20.8339H10.125V13.0449Z" fill="white"></path>
            <path
              d="M11.3346 9.16699C10.5612 9.16699 9.93359 9.79456 9.93359 10.568C9.93359 11.3414 10.5612 11.9821 11.3346 11.9821C12.108 11.9821 12.7355 11.3414 12.7355 10.568C12.7351 9.79456 12.1075 9.16699 11.3346 9.16699V9.16699Z"
              fill="white"></path>
          </g>
          <defs>
            <clipPath id="clip66665">
              <rect width="32" height="32" fill="white" transform="translate(0.769531)"></rect>
            </clipPath>
          </defs>
        </svg>

      </a>
      <a href="https://twitter.com/OptiCore_UW" target="_blank">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip555)">
            <circle cx="15.1543" cy="15" r="15" fill="#A3B1CD"></circle>
            <path
              d="M21.4331 11.1651C20.9827 11.3627 20.5027 11.4937 20.0023 11.5573C20.5171 11.2499 20.91 10.7669 21.0947 10.1847C20.6148 10.4709 20.0848 10.673 19.5201 10.7858C19.0643 10.3005 18.4148 10 17.7062 10C16.3314 10 15.2246 11.1159 15.2246 12.4839C15.2246 12.6807 15.2412 12.87 15.2821 13.0502C13.2176 12.9495 11.3908 11.96 10.1637 10.4527C9.94942 10.8244 9.82375 11.2499 9.82375 11.7079C9.82375 12.5679 10.2666 13.3303 10.9268 13.7716C10.5278 13.7641 10.1364 13.6482 9.80483 13.4658C9.80483 13.4734 9.80483 13.4832 9.80483 13.493C9.80483 14.6998 10.6656 15.7021 11.7944 15.933C11.5922 15.9883 11.3719 16.0148 11.1433 16.0148C10.9843 16.0148 10.8238 16.0057 10.6732 15.9724C10.9949 16.9558 11.9079 17.6788 12.9935 17.7022C12.1487 18.3631 11.0759 18.7614 9.9146 18.7614C9.71095 18.7614 9.51563 18.7523 9.32031 18.7273C10.4203 19.4366 11.724 19.8417 13.1298 19.8417C17.6994 19.8417 20.1976 16.0564 20.1976 12.7753C20.1976 12.6656 20.1938 12.5596 20.1885 12.4544C20.6814 12.1046 21.0955 11.6678 21.4331 11.1651Z"
              fill="white"></path>
          </g>
          <defs>
            <clipPath id="clip555">
              <rect width="32" height="32" fill="white" transform="translate(0.154297)"></rect>
            </clipPath>
          </defs>
        </svg>

      </a>
    </div>
    <div class="footer__group">
      <a class="" href="#">Impring</a>
      <a class="" href="#">Privacy Policy</a>
      <a class="ac-cookie-settings" href="#">Cookies</a>
    </div>
  </div>
</footer>