<div class="cn-banner cn-banner-hidden cn-init-fn" role="banner">
    <div class="cn-container">
        <p>We use cookies for some functions.</p>
        <div>
            <button type="button" id="cn-accept">Accept</button>
            <button type="button" id="cn-settings">settings</button>
        </div>
    </div>
</div>
<div class="popup-container" style="display: none">
    <div class="popup popup-contact">
        <div class="popup-layer"></div>
        <form class="popup__body">
            <div class="popup__close">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M7.12117 5.70708C6.73064 5.31655 6.09748 5.31655 5.70696 5.70708C5.31643 6.0976 5.31643 6.73077 5.70696 7.12129L10.6567 12.0711L5.70698 17.0208C5.31646 17.4113 5.31646 18.0445 5.70698 18.435C6.09751 18.8255 6.73067 18.8255 7.1212 18.435L12.0709 13.4853L17.0207 18.435C17.4112 18.8255 18.0444 18.8255 18.4349 18.435C18.8254 18.0445 18.8254 17.4113 18.4349 17.0208L13.4851 12.0711L18.4349 7.12129C18.8254 6.73077 18.8254 6.0976 18.4349 5.70708C18.0444 5.31655 17.4112 5.31655 17.0207 5.70708L12.0709 10.6568L7.12117 5.70708Z"
                        fill="#A3B1CD" />
                    <path
                        d="M7.12129 5.70708C6.73077 5.31655 6.0976 5.31655 5.70708 5.70708C5.31655 6.0976 5.31655 6.73077 5.70708 7.12129L10.6568 12.0711L5.70711 17.0208C5.31658 17.4113 5.31658 18.0445 5.70711 18.435C6.09763 18.8255 6.7308 18.8255 7.12132 18.435L12.0711 13.4853L17.0208 18.435C17.4113 18.8255 18.0445 18.8255 18.435 18.435C18.8255 18.0445 18.8255 17.4113 18.435 17.0208L13.4853 12.0711L18.435 7.12129C18.8256 6.73077 18.8256 6.0976 18.435 5.70708C18.0445 5.31655 17.4113 5.31655 17.0208 5.70708L12.0711 10.6568L7.12129 5.70708Z"
                        fill="url(#icclpaint0_linear)"></path>
                </svg>
            </div>
            <div class="popup__img">
                <img data-src="./img/popup.svg" alt="pop"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    class="lazyImportant" />
            </div>
            <h4>Wir werden Sie bald kontaktieren</h4>
            <svg class="popup__decor" width="350" height="170" viewBox="0 0 350 170" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M350 170V0H211.144C198.172 0 187.721 14.1438 174.75 14.1438C161.779 14.1438 151.328 0 138.356 0H0V170H350Z"
                    fill="#F4F6F9" />
            </svg>
            <input type="text" placeholder="E-Mail Adresse eingeben" />
            <a href="#" class="btn js-ripple">Jetzt digitalisieren!</a>
        </form>
    </div>
    <div class="popup popup-contactNew">
        <div class="popup-layer"></div>
        <form class="popup__body form-valid-contactNew" novalidate>
            <div class="popup__close">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M7.12117 5.70708C6.73064 5.31655 6.09748 5.31655 5.70696 5.70708C5.31643 6.0976 5.31643 6.73077 5.70696 7.12129L10.6567 12.0711L5.70698 17.0208C5.31646 17.4113 5.31646 18.0445 5.70698 18.435C6.09751 18.8255 6.73067 18.8255 7.1212 18.435L12.0709 13.4853L17.0207 18.435C17.4112 18.8255 18.0444 18.8255 18.4349 18.435C18.8254 18.0445 18.8254 17.4113 18.4349 17.0208L13.4851 12.0711L18.4349 7.12129C18.8254 6.73077 18.8254 6.0976 18.4349 5.70708C18.0444 5.31655 17.4112 5.31655 17.0207 5.70708L12.0709 10.6568L7.12117 5.70708Z"
                        fill="#A3B1CD" />
                    <path
                        d="M7.12129 5.70708C6.73077 5.31655 6.0976 5.31655 5.70708 5.70708C5.31655 6.0976 5.31655 6.73077 5.70708 7.12129L10.6568 12.0711L5.70711 17.0208C5.31658 17.4113 5.31658 18.0445 5.70711 18.435C6.09763 18.8255 6.7308 18.8255 7.12132 18.435L12.0711 13.4853L17.0208 18.435C17.4113 18.8255 18.0445 18.8255 18.435 18.435C18.8255 18.0445 18.8255 17.4113 18.435 17.0208L13.4853 12.0711L18.435 7.12129C18.8256 6.73077 18.8256 6.0976 18.435 5.70708C18.0445 5.31655 17.4113 5.31655 17.0208 5.70708L12.0711 10.6568L7.12129 5.70708Z"
                        fill="url(#icclpaint0_linear_1)" />
                    <defs>
                        <linearGradient id="icclpaint0_linear_1" x1="5.41418" y1="5.41418" x2="18.368" y2="5.19306"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#229AFA" />
                            <stop offset="1" stop-color="#1168F8" />
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <div class="popup__img">

                <img data-src="./img/pop.svg" alt="pop"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    class="lazyImportant" />

            </div>
            <h4>Hinterlassen Sie Ihre Daten und wir werden Sie bald kontaktieren</h4>
            <div class="form-bg">
                <svg class="popup__decor" width="466" height="435" viewBox="0 0 466 435" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M466 435V0H283.866C265.142 0 251.391 22.3542 232.667 22.3542C213.943 22.3542 200.193 0 181.468 0H0V435H466Z"
                        fill="#F4F6F9" />
                </svg>
                <div class="form-group">
                    <input type="text" name="name" placeholder="Name eingeben" class="name" required />
                </div>
                <div class="form-group">
                    <input type="tel" name="phone" placeholder="Telefonnummer eingeben" class="phone" required />
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="E-Mail Adresse eingeben" class="mail" required />
                </div>
                <input type="hidden" name="page_id" value="2" class="page_id" />
                <button type="submit" class="form-btn js-ripple">Senden</button>
                <p>
                    Oder rufen Sie uns einfach an<br /><strong><a href="tel:+4999049689480"
                            title="Oder rufen Sie uns einfach an">+49 9904 9689480</a></strong>
                </p>
            </div>
        </form>
    </div>
    <div class="popup popup-thank">
        <div class="popup-layer"></div>
        <div class="popup__body">
            <div class="popup__close">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M7.12117 5.70708C6.73064 5.31655 6.09748 5.31655 5.70696 5.70708C5.31643 6.0976 5.31643 6.73077 5.70696 7.12129L10.6567 12.0711L5.70698 17.0208C5.31646 17.4113 5.31646 18.0445 5.70698 18.435C6.09751 18.8255 6.73067 18.8255 7.1212 18.435L12.0709 13.4853L17.0207 18.435C17.4112 18.8255 18.0444 18.8255 18.4349 18.435C18.8254 18.0445 18.8254 17.4113 18.4349 17.0208L13.4851 12.0711L18.4349 7.12129C18.8254 6.73077 18.8254 6.0976 18.4349 5.70708C18.0444 5.31655 17.4112 5.31655 17.0207 5.70708L12.0709 10.6568L7.12117 5.70708Z"
                        fill="#A3B1CD" />
                    <path
                        d="M7.12129 5.70708C6.73077 5.31655 6.0976 5.31655 5.70708 5.70708C5.31655 6.0976 5.31655 6.73077 5.70708 7.12129L10.6568 12.0711L5.70711 17.0208C5.31658 17.4113 5.31658 18.0445 5.70711 18.435C6.09763 18.8255 6.7308 18.8255 7.12132 18.435L12.0711 13.4853L17.0208 18.435C17.4113 18.8255 18.0445 18.8255 18.435 18.435C18.8255 18.0445 18.8255 17.4113 18.435 17.0208L13.4853 12.0711L18.435 7.12129C18.8256 6.73077 18.8256 6.0976 18.435 5.70708C18.0445 5.31655 17.4113 5.31655 17.0208 5.70708L12.0711 10.6568L7.12129 5.70708Z"
                        fill="url(#icclpaint0_linear_2)" />
                    <defs>
                        <linearGradient id="icclpaint0_linear_2" x1="5.41418" y1="5.41418" x2="18.368" y2="5.19306"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#229AFA" />
                            <stop offset="1" stop-color="#1168F8" />
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <div class="popup__img">

                <img data-src="./img/popup-send.svg" alt="pop"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    class="lazyImportant" />

            </div>
            <h4>Dankeschön!</h4>
            <p>Wir werden uns in Kürze bei Ihnen melden.</p>
        </div>
    </div>
    <div class="popup popup-order">
        <div class="popup-layer"></div>
        <div class="popup-order-body">
            <div class="popup__close">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M7.12117 5.70708C6.73064 5.31655 6.09748 5.31655 5.70696 5.70708C5.31643 6.0976 5.31643 6.73077 5.70696 7.12129L10.6567 12.0711L5.70698 17.0208C5.31646 17.4113 5.31646 18.0445 5.70698 18.435C6.09751 18.8255 6.73067 18.8255 7.1212 18.435L12.0709 13.4853L17.0207 18.435C17.4112 18.8255 18.0444 18.8255 18.4349 18.435C18.8254 18.0445 18.8254 17.4113 18.4349 17.0208L13.4851 12.0711L18.4349 7.12129C18.8254 6.73077 18.8254 6.0976 18.4349 5.70708C18.0444 5.31655 17.4112 5.31655 17.0207 5.70708L12.0709 10.6568L7.12117 5.70708Z"
                        fill="#A3B1CD" />
                    <path
                        d="M7.12129 5.70708C6.73077 5.31655 6.0976 5.31655 5.70708 5.70708C5.31655 6.0976 5.31655 6.73077 5.70708 7.12129L10.6568 12.0711L5.70711 17.0208C5.31658 17.4113 5.31658 18.0445 5.70711 18.435C6.09763 18.8255 6.7308 18.8255 7.12132 18.435L12.0711 13.4853L17.0208 18.435C17.4113 18.8255 18.0445 18.8255 18.435 18.435C18.8255 18.0445 18.8255 17.4113 18.435 17.0208L13.4853 12.0711L18.435 7.12129C18.8256 6.73077 18.8256 6.0976 18.435 5.70708C18.0445 5.31655 17.4113 5.31655 17.0208 5.70708L12.0711 10.6568L7.12129 5.70708Z"
                        fill="url(#icclpaint0_linear_3)" />
                    <defs>
                        <linearGradient id="icclpaint0_linear_3" x1="5.41418" y1="5.41418" x2="18.368" y2="5.19306"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#229AFA" />
                            <stop offset="1" stop-color="#1168F8" />
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <div class="popup-order-info">
                <div class="details">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="details"
                        class="img-for-blue" />
                    <div class="right">
                        <h3>&nbsp;</h3>
                        <div class="pricing_wrapper">
                            <h4>&nbsp;</h4>
                            <p><span></span></p>
                        </div>
                        <ul class="list_item">
                            <li></li>
                            <li><span class="stores-count"></span> store</li>
                            <li><span class="employees-count"></span> employee</li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="details-btn js-ripple">
                    <span data-detal-view="Details anzeigen" data-detal-hide="Details ausblenden">Details
                        anzeigen</span>
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4.99995 0C5.55224 0 5.99995 0.447715 5.99995 1L5.99995 4.00005L9 4.00005C9.55228 4.00005 10 4.44776 10 5.00005C10 5.55233 9.55228 6.00005 9 6.00005H5.99995L5.99995 9C5.99995 9.55228 5.55224 10 4.99995 10C4.44767 10 3.99995 9.55228 3.99995 9V6.00005H1C0.447715 6.00005 3.37175e-07 5.55233 0 5.00005C-3.37175e-07 4.44776 0.447715 4.00005 1 4.00005L3.99995 4.00005V1C3.99995 0.447715 4.44767 3.37175e-07 4.99995 0Z"
                            fill="white" />
                        <rect width="10" height="2" rx="1" y="4" fill="white" />
                    </svg>
                </div>
            </div>
            <form class="popup__body form-valid-order" novalidate>
                <h4>
                    Geben Sie Ihre Bestellung auf und wir werden Sie bald kontaktieren
                </h4>
                <div class="form-group">
                    <input type="text" name="name" placeholder="Name" class="name" required />
                </div>
                <div class="form-group">
                    <input type="tel" name="phone" placeholder="Telefon" class="phone" required />
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="E-Mail Adresse" class="mail" required />
                </div>
                <button type="submit" class="form-btn js-ripple">Senden</button>
            </form>
        </div>
    </div>
</div>