<div class="preferences">
  <div class="container">
    <div class="preferences__item" data-aos="fade-up" data-aos-delay="0">
      <div class="preferences__circle">
        <img
          alt="preferences"
          data-src="./img/experience-sec/1.svg"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          class="lazy"
        />
      </div>
      <h4 id="preferences__item_1">
        <strong>On-demand demo</strong>
        &
        <strong>24-hour support</strong>
      </h4>
    </div>
    <div class="preferences__item" data-aos="fade-up" data-aos-delay="50">
      <div class="preferences__circle">
        <img
          alt="preferences"
          data-src="./img/experience-sec/2.svg"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          class="lazy"
        />
      </div>
      <h4 id="preferences__item_2">
    <strong>99.99% uptime</strong> the last 12 month
      </h4>
    </div>
    <div class="preferences__item" data-aos="fade-up" data-aos-delay="100">
      <div class="preferences__circle">
        <img
          alt="preferences"
          data-src="./img/experience-sec/3.svg"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          class="lazy"
        />
      </div>
      <h4 id="preferences__item_3">
          Serious about<br> <strong>security & privacy</strong>
      </h4>
    </div>
  </div>
</div>