<div class="sign-up-newlsetter-block">
    <div class="sign-up-newlsetter-bg-layer"></div>
    <div class="sign-up-newlsetter blog-subscribe">
        <div class="topRow">
            <div class="img">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="./img/sign-up-newlsetter.svg" alt="sign up newlsetter" class=" lazyImportant">
            </div>
            <span class="h3">Sign up for our newlsetter and get a dicount coupon</span>
            <p>Join our mailing list to receive the latest news and updates from our team.</p>
            <div class="popup__close">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M7.12117 5.70708C6.73064 5.31655 6.09748 5.31655 5.70696 5.70708C5.31643 6.0976 5.31643 6.73077 5.70696 7.12129L10.6567 12.0711L5.70698 17.0208C5.31646 17.4113 5.31646 18.0445 5.70698 18.435C6.09751 18.8255 6.73067 18.8255 7.1212 18.435L12.0709 13.4853L17.0207 18.435C17.4112 18.8255 18.0444 18.8255 18.4349 18.435C18.8254 18.0445 18.8254 17.4113 18.4349 17.0208L13.4851 12.0711L18.4349 7.12129C18.8254 6.73077 18.8254 6.0976 18.4349 5.70708C18.0444 5.31655 17.4112 5.31655 17.0207 5.70708L12.0709 10.6568L7.12117 5.70708Z"
                        fill="#A3B1CD"></path>
                    <path
                        d="M7.12129 5.70708C6.73077 5.31655 6.0976 5.31655 5.70708 5.70708C5.31655 6.0976 5.31655 6.73077 5.70708 7.12129L10.6568 12.0711L5.70711 17.0208C5.31658 17.4113 5.31658 18.0445 5.70711 18.435C6.09763 18.8255 6.7308 18.8255 7.12132 18.435L12.0711 13.4853L17.0208 18.435C17.4113 18.8255 18.0445 18.8255 18.435 18.435C18.8255 18.0445 18.8255 17.4113 18.435 17.0208L13.4853 12.0711L18.435 7.12129C18.8256 6.73077 18.8256 6.0976 18.435 5.70708C18.0445 5.31655 17.4113 5.31655 17.0208 5.70708L12.0711 10.6568L7.12129 5.70708Z"
                        fill="url(#icclpaint0_linear_4)"></path>
                    <defs>
                        <linearGradient id="icclpaint0_linear_4" x1="5.41418" y1="5.41418" x2="18.368" y2="5.19306"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#229AFA"></stop>
                            <stop offset="1" stop-color="#1168F8"></stop>
                        </linearGradient>
                    </defs>
                </svg>
            </div>
        </div>
        <div class="formWrap">
            <form class="form form-valid-subscribe" novalidate="">
                <div class="form-group">
                    <input id="placeholder__intro" name="email" type="email" class="mail" required=""
                        placeholder="Enter your email address">
                </div>
                <button id="button__intro" class="js-ripple" type="submit">
                    Subscribe
                </button>
                <div class="form-thanks">
                    <svg width="44" height="44" viewBox="0 0 44 44" fill="none">
                        <circle cx="22" cy="22" r="22" fill="url(#paint0_linear13)"></circle>
                        <path
                            d="M34.7709 13.6293C35.3436 14.2021 35.3436 15.1308 34.7709 15.7035L19.8004 30.674L10.6967 21.5702C10.1239 20.9974 10.1239 20.0688 10.6967 19.496C11.2694 18.9232 12.1981 18.9232 12.7708 19.496L19.8004 26.5256L32.6967 13.6293C33.2694 13.0566 34.1981 13.0566 34.7709 13.6293Z"
                            fill="white"></path>
                        <defs>
                            <linearGradient id="paint0_linear13" x1="0" y1="0" x2="42.8104" y2="-0.730792"
                                gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#229AFA"></stop>
                                <stop offset="1" stop-color="#1168F8"></stop>
                            </linearGradient>
                        </defs>
                    </svg>
                    <span id="form_subscribeThanks_text">Thank you! You have signed up
                        for our newsletter.</span>
                </div>
            </form>
        </div>
    </div>
</div>