<div class="solutions">
  <div class="decor_circles">
    <div class="decor_circle left"></div>
    <div class="decor_circle right"></div>
  </div>
  <img
    class="solutions__decor lazy solutions__decor--one"
    alt="solutions"
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="./img/solutions-sec/1.svg"
  />
  <img
    class="solutions__decor lazy solutions__decor--two"
    alt="solutions"
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="./img/solutions-sec/2.svg"
  />
  <img
    class="solutions__decor lazy solutions__decor--three"
    alt="solutions"
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="./img/solutions-sec/3.svg"
  />
  <img
    class="solutions__decor lazy solutions__decor--four"
    alt="solutions"
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="./img/solutions-sec/3.svg"
  />
  <img
    class="solutions__decor lazy solutions__decor--five"
    alt="solutions"
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="./img/solutions-sec/4.svg"
  />
  <img
    class="solutions__decor lazy solutions__decor--six"
    alt="solutions"
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="./img/solutions-sec/3.svg"
  />
  <img
    class="solutions__decor lazy solutions__decor--seven"
    alt="solutions"
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="./img/solutions-sec/5.svg"
  />
  <img
    class="solutions__decor lazy solutions__decor--eight tablet"
    alt="solutions"
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="./img/solutions-sec/6.svg"
  />
  <img
    class="solutions__decor lazy solutions__decor--eight desktop"
    alt="solutions"
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="./img/solutions-sec/6_desk.svg"
  />
  <img
    class="solutions__decor lazy solutions__decor--nine"
    alt="solutions"
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="./img/solutions-sec/9.svg"
  />
  <div class="container">
    <div class="block_title_row">
      <div data-aos="fade-up">
      <h4>Solutions</h4>
      </div>
      <h2 data-aos="fade-up" data-aos-delay="50" class="title">Solved by Umami View</h2>
    </div>
    <div class="row">
      <div class="solutionsCard w33" data-aos="fade-up" data-aos-delay="100">
        <span class="number">01</span>
        <h4>No more paper!</h4>
        <p>With OptiCore, everything works paperless and reliable. We save every transaction and information of you and your customer needs for the future.</p>
      </div>
      <div class="solutionsCard w33" data-aos="fade-up" data-aos-delay="100">
        <span class="number">02</span>
        <h4>No constant switching between applications!</h4>
        <p>Umami View covers the entire customer lifecycle. From making an appointment, through the sales and consulting process, to payment and aftercare.</p>
      </div>
      <div class="solutionsCard w33" data-aos="fade-up" data-aos-delay="100">
        <span class="number">03</span>
        <h4>Always and everywhere available!</h4>
        <p>Umami View can be used from all devices, all browsers and any type of
          software. We enable access at any time in any place through the latest
          technology.</p>
      </div>
      <div class="solutionsCard w50" data-aos="fade-up" data-aos-delay="100">
        <span class="number">04</span>
        <h4>Integrations for smooth processes!</h4>
        <p>We are constantly adding new integrations to Umami View to make your
          workflow as smooth as possible. From appointment bookings on the
          website to the banking interface!</p>
      </div>
      <div class="solutionsCard w50" data-aos="fade-up" data-aos-delay="100">
        <span class="number">05</span>
        <h4>No server anymore!</h4>
        <p>Buying new servers over and over again over the years? With Umami
          View a thing of the past! It will save you thousands of dollars on our
          cloud application.</p>
      </div>
    </div>
  </div>
</div>