<div class="workflow">
  <div class="container">
    <div class="workflow__info fade" data-aos="fade-up">
      <h2 id="title__workflow" class="title">A simplified way of working<br />
        with Umami View!</h2>
    </div>
    <div class="workflow__info__image" data-aos="fade-up" data-aos-delay="150">
      <img class="lazy" data-src="./img/workflow.svg" alt="flow"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
      <img class="lazy tablet" data-src="./img/workflow_tablet.svg" alt="flow"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
      <img class="lazy mobile" data-src="./img/workflow_mobile.svg" alt="flow"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
    </div>
  </div>
</div>