<!-- start popup_wrap -->
<div class="popup_wrap">
    <div class="popup_bg" onclick="popup.hide()" style="display: block;"></div>
    <div class="popup_block videoPopup fullWidth">
        <div class="close" onclick="popup.hide()">
            <span class="text">Close</span>
            <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M11.9117 12.5071L11.9121 12.5067L11.9125 12.5071L16.9406 17.5352L18.0624 16.4134L13.0343 11.3853L18.0624 6.35716L16.9406 5.23531L11.9125 10.2634L11.9121 10.2638L11.9117 10.2634L6.88365 5.23531L5.7618 6.35716L10.7899 11.3853L5.7618 16.4134L6.88365 17.5352L11.9117 12.5071Z"
                    fill="#EDEDED"></path>
            </svg>
        </div>
        <div class="popupWrap flex">
            <div class="popupContent container">
                <div class="video_html" id="video_html"
                    data-poster="http://fotonaut-dev.redlab.site/wp-content/uploads/2019/11/poster-1.jpg"
                    data-src="http://fotonaut-dev.redlab.site/wp-content/uploads/2019/11/rozlet.mov">
                    <video loop="" autoplay="" id="popupVideo" controls=""
                        poster="http://fotonaut-dev.redlab.site/wp-content/uploads/2019/11/poster-1.jpg">
                        <source src="http://fotonaut-dev.redlab.site/wp-content/uploads/2019/11/rozlet.mov"
                            type="video/mp4">
                    </video></div>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="popup_block menuPopup fullWidth">
        <div class="popupWrap">
            <div class="menuBgImgWrap">
                <div class="menuBgImgItem"><img class="menuBgImg lazy" alt="menuBg1"
                        src="http://fotonaut-dev.redlab.site/wp-content/themes/fotonaut/img/menuBg/menuBg1.jpg"
                        style="display: inline; visibility: visible; opacity: 1;"></div>
                <div class="menuBgImgItem"><img class="menuBgImg lazy" alt="menuBg1"
                        src="http://fotonaut-dev.redlab.site/wp-content/themes/fotonaut/img/menuBg/menuBg2.jpg"
                        style="display: inline; visibility: visible; opacity: 1;"></div>
                <div class="menuBgImgItem"><img class="menuBgImg lazy" alt="menuBg1"
                        src="http://fotonaut-dev.redlab.site/wp-content/themes/fotonaut/img/menuBg/menuBg3.jpg"
                        style="display: inline; visibility: visible; opacity: 1;"></div>
                <div class="menuBgImgItem"><img class="menuBgImg lazy" alt="menuBg1"
                        src="http://fotonaut-dev.redlab.site/wp-content/themes/fotonaut/img/menuBg/menuBg4.jpg"
                        style="display: inline; visibility: visible; opacity: 1;"></div>
                <div class="menuBgImgItem"><img class="menuBgImg lazy" alt="menuBg1"
                        src="http://fotonaut-dev.redlab.site/wp-content/themes/fotonaut/img/menuBg/menuBg5.jpg"
                        style="display: inline; visibility: visible; opacity: 1;"></div>
                <div class="menuBgImgItem"><img class="menuBgImg lazy" alt="menuBg1"
                        src="http://fotonaut-dev.redlab.site/wp-content/themes/fotonaut/img/menuBg/menuBg6.jpg"
                        style="display: inline; visibility: visible; opacity: 1;"></div>
                <div class="menuBgImgItem"><img class="menuBgImg lazy" alt="menuBg1"
                        src="http://fotonaut-dev.redlab.site/wp-content/themes/fotonaut/img/menuBg/menuBg7.jpg"
                        style="display: inline; visibility: visible; opacity: 1;"></div>
            </div>
            <div class="popupContent container">
                <div class="menuMainContent flexColumn between">
                    <nav class="mainNav">
                        <ol>

                            <li><a href="javascript:void(0)">Homepage</a></li>

                            <li><a href="http://fotonaut-dev.redlab.site/mini/">Fotonaut mini</a></li>

                            <li><a href="http://fotonaut-dev.redlab.site/fotonaut-app/">Fotonaut app</a></li>

                            <li><a href="http://fotonaut-dev.redlab.site/references/">References</a></li>

                            <li><a href="http://fotonaut-dev.redlab.site/buy/">Buy</a></li>

                            <li><a href="http://fotonaut-dev.redlab.site/faq/">FAQ</a></li>

                            <li><a href="http://fotonaut-dev.redlab.site/contact/">Contact</a></li>
                        </ol>
                    </nav>
                    <div class="bottomRow row between margin0 alignEnd">
                        <ul class="navSecondList">
                            <li><a class="line_hover" href="https://www.fotonaut.app" target="_blank">Login</a></li>
                            <li><a class="line_hover" href="http://fotonaut-dev.redlab.site/privacy-policy/">Terms and
                                    conditions</a></li>
                            <li><a class="line_hover" href="https://instagram.com" target="_blank">Instagram</a></li>
                        </ul>
                        <a href="https://creativenigths.com" class="copyright line_hover" target="_blank">MADE BY
                            CREATIVE NIGHTS</a>
                    </div>
                    <div class="parallaxDots hidden">
                        <div class="parallaxDotsItem el1 custom withSpan"><span data-depth="0.05"></span></div>
                        <div class="parallaxDotsItem el2 custom withSpan"><span data-depth="0.01"></span></div>
                        <div class="parallaxDotsItem el4 custom withSpan"><span data-depth="0.04"></span></div>
                        <div class="parallaxDotsItem el5 custom withSpan"><span data-depth="0.03"></span></div>
                        <div class="parallaxDotsItem el6 custom withSpan"><span data-depth="0.04"></span></div>
                        <div class="parallaxDotsItem el7 custom withSpan"><span data-depth="0.01"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
</div>
<!-- end popup_wrap -->