.started {
  padding-top: 134px;
  padding-bottom: 111px;
}
@media (max-width: 1680px) {
  .started {
    padding-top: 97px;
    padding-bottom: 80px;
  }
}
@media (max-width: 1024px) {
  .started {
    padding-top: 65px;
    padding-bottom: 72px;
  }
}
@media (max-width: 625px) {
  .started {
    padding-top: 69px;
  }
}
.started .container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.started__circle {
  margin: auto;
  width: 631px;
  height: 631px;
  border-radius: 50%;
  background: linear-gradient(270.98deg, #269eff 1.68%, #095fec 97.37%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.started__circle > p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #fff;
  max-width: 445px;
  display: block;
  margin: 0 auto 32px;
}
.started__circle > a {
  cursor: pointer;
  text-decoration: none;
  background: #fff;
  padding: 13px 30px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #1b84f9;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 7px 14px rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}
@media (min-width: 1681px) {
  .started__circle {
    padding-top: 15px;
    width: 770px;
    height: 770px;
  }
  .started__circle > p {
    font-size: 20px;
    max-width: 477px;
    margin: 0 auto 60px;
    line-height: 160%;
  }
  .started__circle > a {
    font-size: 21px;
    padding: 20px 40px;
  }
}
@media (max-width: 1024px) {
  .started__circle > a {
    height: 51px;
  }
}
@media (max-width: 625px) {
  .started__circle {
    min-width: 457px;
    min-height: 457px;
    width: 457px;
    height: 457px;
    padding-top: 10px;
  }
  .started__circle > p {
    max-width: 293px;
    margin-bottom: 20px;
  }
  .started__circle > a {
    padding-left: 30px;
  }
}
.started__hand {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 770px;
  height: 370px;
}
@media (min-width: 1681px) {
  .started__hand {
    width: 100%;
  }
}
@media (max-width: 1680px) {
  .started__hand {
    bottom: -34px;
    left: 49%;
    width: 85%;
  }
}
@media (max-width: 625px) {
  .started__hand {
    bottom: -79px;
    width: 95%;
  }
}
.started__title {
  max-width: 376px;
  margin: 0 auto;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 130%;
  text-align: center;
  color: #fff;
  margin-bottom: 21px;
}
@media (min-width: 1681px) {
  .started__title {
    font-size: 50px;
    min-width: 450px;
    margin-bottom: 38px;
  }
}
@media (max-width: 1024px) {
  .started__title {
    margin-bottom: 26px;
  }
}
@media (max-width: 625px) {
  .started__title {
    margin-bottom: 21px;
  }
}
.started__decor {
  position: absolute;
}
.started__decor--one {
  top: 5%;
  left: 32%;
  animation: levitation2 20s linear infinite;
}
@media (max-width: 1024px) {
  .started__decor--one {
    left: 21%;
    top: 5.5%;
  }
}
@media (max-width: 625px) {
  .started__decor--one {
    top: -12.3%;
    left: 30%;
  }
}
.started__decor--two {
  animation: levitation3 20s linear infinite;
  left: 20%;
  top: 13%;
}
@media (max-width: 1024px) {
  .started__decor--two {
    left: 7%;
  }
}
@media (max-width: 625px) {
  .started__decor--two {
    top: -6%;
    left: 7%;
  }
}
.started__decor--three {
  animation: levitation1 20s linear infinite;
  left: 8.7%;
  top: 22.8%;
}
@media (max-width: 1024px) {
  .started__decor--three {
    left: 4%;
    top: 23%;
  }
}
@media (max-width: 625px) {
  .started__decor--three {
    left: -2%;
    top: 8%;
  }
}
.started__decor--four {
  animation: levitation3 20s linear infinite;
  top: 46%;
  left: 17%;
}
@media (max-width: 1024px) {
  .started__decor--four {
    left: 1%;
  }
}
@media (max-width: 625px) {
  .started__decor--four {
    display: none;
  }
}
.started__decor--five {
  animation: levitation2 20s linear infinite;
  top: 80.3%;
  left: 10.3%;
}
@media (max-width: 1024px) {
  .started__decor--five {
    left: 2.8%;
    top: 80.5%;
  }
}
@media (max-width: 625px) {
  .started__decor--five {
    left: 17%;
    top: 100%;
  }
}
.started__decor--six {
  animation: levitation1 20s linear infinite;
  left: 19%;
  top: 76%;
}
@media (max-width: 1024px) {
  .started__decor--six {
    left: 5.3%;
  }
}
@media (max-width: 625px) {
  .started__decor--six {
    left: -3.3%;
    top: 85%;
  }
}
.started__decor--seven {
  animation: levitation2 20s linear infinite;
  top: 11.2%;
  right: 25.8%;
}
@media (max-width: 1024px) {
  .started__decor--seven {
    right: 11%;
    top: 11.3%;
  }
}
@media (max-width: 625px) {
  .started__decor--seven {
    display: none;
  }
}
.started__decor--eight {
  animation: levitation1 20s linear infinite;
  right: 11.5%;
  top: 15.3%;
}
@media (max-width: 1024px) {
  .started__decor--eight {
    right: 3.5%;
    top: 15.5%;
  }
}
@media (max-width: 625px) {
  .started__decor--eight {
    right: 19%;
    top: -7.6%;
  }
}
.started__decor--nine {
  animation: levitation3 20s linear infinite;
  top: 33.8%;
  right: 15.6%;
}
@media (max-width: 1024px) {
  .started__decor--nine {
    right: 0;
    top: 34%;
  }
}
@media (max-width: 625px) {
  .started__decor--nine {
    top: -3.2%;
    right: -2%;
  }
}
.started__decor--ten {
  animation: levitation2 20s linear infinite;
  top: 68.5%;
  right: 12.3%;
}
@media (max-width: 1024px) {
  .started__decor--ten {
    right: 1%;
    top: 68%;
  }
}
@media (max-width: 625px) {
  .started__decor--ten {
    display: none;
  }
}
.started__decor--eleven {
  animation: levitation1 20s linear infinite;
  top: 83%;
  right: 19%;
}
@media (max-width: 1024px) {
  .started__decor--eleven {
    right: 6%;
  }
}
@media (max-width: 625px) {
  .started__decor--eleven {
    right: 14%;
    top: 94.5%;
  }
}
.started .btn:after {
  background: -o-linear-gradient(0.98deg, rgba(34, 154, 250, 0.1) 1.68%, rgba(17, 104, 248, 0.1) 97.37%);
  background: linear-gradient(89.02deg, rgba(34, 154, 250, 0.1) 1.68%, rgba(17, 104, 248, 0.1) 97.37%);
}
