<script>document.getElementsByTagName('body')[0].classList.add('inner-page');</script>
<script>
    // show SignUp modal
    setTimeout(function () { showHideSignUpNewlsetter(1) }, 10000)
</script>
<div class="progress-container">
    <div class="progress-bar" id="progBar"></div>
</div>
<div class="article-bg-layer"></div>
<div class="b-article">
    <div class="container">
        <div class="article-head">
            <div class="tags"><a href="./blog{{htmlPrefix}}">how-tos</a>
            </div>
            <h1>4 Tips for Defending The Contact Lens Evaluation Fee to Patients</h1>
            <div class="inf">
                <div class="data">20 Fab 2020</div>
                <div class="read"><span class="span-reading-time rt-reading-time"><span
                            class="rt-label rt-prefix"></span> <span class="rt-time"> 2</span> <span
                            class="rt-label rt-postfix"></span></span>&nbsp;min read</div>
            </div>
            <div class="image">
                <img class="lazyWebp" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-src="./img/blog/item1.jpg" data-webp="./img/blog/item1.webp" alt="how-tos" />
            </div>
        </div>
        <div class="article-wrap">
            <div class="article-float-column">
                <div class="article-float">
                    <div class="float-nav-box">
                        <div class="btn-float-nav">
                            <svg width="44" height="44" viewBox="0 0 44 44" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="22" cy="22" r="22" fill="white" />
                                <circle cx="22" cy="22" r="17" fill="url(#paint0_linearbtn1)" fill-opacity="0" />
                                <rect x="13" y="15" width="2" height="2" rx="1" fill="url(#paint1_linearbtn1)" />
                                <rect x="13" y="21" width="2" height="2" rx="1" fill="url(#paint2_linearbtn1)" />
                                <rect x="13" y="27" width="2" height="2" rx="1" fill="url(#paint3_linearbtn1)" />
                                <rect x="17" y="15" width="15" height="2" rx="1" fill="url(#paint4_linearbtn1)" />
                                <rect x="17" y="21" width="15" height="2" rx="1" fill="url(#paint5_linearbtn1)" />
                                <rect x="17" y="27" width="15" height="2" rx="1" fill="url(#paint6_linearbtn1)" />
                                <path
                                    d="M17.1213 15.7071C16.7308 15.3166 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 15.3166 16.7308 15.7071 17.1213L20.6568 22.0711L15.7071 27.0208C15.3166 27.4113 15.3166 28.0445 15.7071 28.435C16.0976 28.8256 16.7308 28.8256 17.1213 28.435L22.0711 23.4853L27.0208 28.435C27.4113 28.8256 28.0445 28.8256 28.435 28.435C28.8255 28.0445 28.8255 27.4113 28.435 27.0208L23.4853 22.0711L28.435 17.1213C28.8256 16.7308 28.8256 16.0976 28.435 15.7071C28.0445 15.3166 27.4113 15.3166 27.0208 15.7071L22.0711 20.6569L17.1213 15.7071Z"
                                    fill="url(#paint7_linearbtn1)" fill-opacity="0" />
                                <defs>
                                    <linearGradient id="paint0_linearbtn1" x1="5" y1="5" x2="38.0808" y2="4.4353"
                                        gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#229AFA" />
                                        <stop offset="1" stop-color="#1168F8" />
                                    </linearGradient>
                                    <linearGradient id="paint1_linearbtn1" x1="13" y1="15" x2="14.9459" y2="14.9668"
                                        gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#229AFA" />
                                        <stop offset="1" stop-color="#1168F8" />
                                    </linearGradient>
                                    <linearGradient id="paint2_linearbtn1" x1="13" y1="21" x2="14.9459" y2="20.9668"
                                        gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#229AFA" />
                                        <stop offset="1" stop-color="#1168F8" />
                                    </linearGradient>
                                    <linearGradient id="paint3_linearbtn1" x1="13" y1="27" x2="14.9459" y2="26.9668"
                                        gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#229AFA" />
                                        <stop offset="1" stop-color="#1168F8" />
                                    </linearGradient>
                                    <linearGradient id="paint4_linearbtn1" x1="17" y1="15" x2="31.3633" y2="13.1611"
                                        gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#229AFA" />
                                        <stop offset="1" stop-color="#1168F8" />
                                    </linearGradient>
                                    <linearGradient id="paint5_linearbtn1" x1="17" y1="21" x2="31.3633" y2="19.1611"
                                        gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#229AFA" />
                                        <stop offset="1" stop-color="#1168F8" />
                                    </linearGradient>
                                    <linearGradient id="paint6_linearbtn1" x1="17" y1="27" x2="31.3633" y2="25.1611"
                                        gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#229AFA" />
                                        <stop offset="1" stop-color="#1168F8" />
                                    </linearGradient>
                                    <linearGradient id="paint7_linearbtn1" x1="15.4142" y1="15.4142" x2="28.368"
                                        y2="15.1931" gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#229AFA" />
                                        <stop offset="1" stop-color="#1168F8" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="float-nav-cont">
                            <span>In this article:</span>
                        </div>
                    </div>
                    <div class="float-share-box">
                        <div class="btn-float-share">
                            <svg width="44" height="44" viewBox="0 0 44 44" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="22" cy="22" r="22" fill="white" />
                                <circle cx="22" cy="22" r="17" fill="url(#paint0_linearbtn2)" fill-opacity="0" />
                                <path
                                    d="M27.5 25C25.7 25 24.3 26.3 24 28H22.2C20 28 18 26.9 17.1 24.6C18.2 24 19 22.9 19 21.5C19 20.3 18.4 19.2 17.4 18.5C18.5 17 20.2 16 22.2 16H24C24.2 17.7 25.7 19 27.5 19C29.4 19 31 17.4 31 15.5C31 13.6 29.4 12 27.5 12C26.1 12 24.9 12.8 24.3 14H22.2C19.3 14 16.7 15.6 15.4 18C13.5 18.1 12 19.6 12 21.5C12 23.3 13.4 24.8 15.1 25C16.3 28.3 19.1 30 22.2 30H24.3C24.9 31.2 26.1 32 27.5 32C29.4 32 31 30.4 31 28.5C31 26.6 29.4 25 27.5 25ZM27.5 14C28.3 14 29 14.7 29 15.5C29 16.3 28.3 17 27.5 17C26.7 17 26 16.3 26 15.5C26 14.7 26.7 14 27.5 14ZM15.5 23C14.7 23 14 22.3 14 21.5C14 20.7 14.7 20 15.5 20C16.3 20 17 20.7 17 21.5C17 22.3 16.3 23 15.5 23ZM27.5 30C26.7 30 26 29.3 26 28.5C26 27.7 26.7 27 27.5 27C28.3 27 29 27.7 29 28.5C29 29.3 28.3 30 27.5 30Z"
                                    fill="url(#paint1_linearbtn2)" />
                                <path
                                    d="M17.1213 15.7071C16.7308 15.3166 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 15.3166 16.7308 15.7071 17.1213L20.6568 22.0711L15.7071 27.0208C15.3166 27.4113 15.3166 28.0445 15.7071 28.435C16.0976 28.8256 16.7308 28.8256 17.1213 28.435L22.0711 23.4853L27.0208 28.435C27.4113 28.8256 28.0445 28.8256 28.435 28.435C28.8255 28.0445 28.8255 27.4113 28.435 27.0208L23.4853 22.0711L28.435 17.1213C28.8256 16.7308 28.8256 16.0976 28.435 15.7071C28.0445 15.3166 27.4113 15.3166 27.0208 15.7071L22.0711 20.6569L17.1213 15.7071Z"
                                    fill="url(#paint2_linearbtn2)" fill-opacity="0" />
                                <defs>
                                    <linearGradient id="paint0_linearbtn2" x1="5" y1="5" x2="38.0808" y2="4.4353"
                                        gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#229AFA" />
                                        <stop offset="1" stop-color="#1168F8" />
                                    </linearGradient>
                                    <linearGradient id="paint1_linearbtn2" x1="12" y1="12" x2="30.4868" y2="11.7002"
                                        gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#229AFA" />
                                        <stop offset="1" stop-color="#1168F8" />
                                    </linearGradient>
                                    <linearGradient id="paint2_linearbtn2" x1="15.4142" y1="15.4142" x2="28.368"
                                        y2="15.1931" gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#229AFA" />
                                        <stop offset="1" stop-color="#1168F8" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="float-share-cont">
                            {{>share-links}}
                        </div>
                    </div>
                    <div class="btn-float-up button--bounce">
                        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="22" cy="22" r="22" fill="white" />
                            <circle cx="22" cy="22" r="17" fill="url(#paint0_linearbtn3)" fill-opacity="0" />
                            <path
                                d="M16.7929 25.2071C16.4024 24.8166 16.4024 24.1834 16.7929 23.7929L21.7929 18.7929C22.1834 18.4024 22.8166 18.4024 23.2071 18.7929L28.2071 23.7929C28.5976 24.1834 28.5976 24.8166 28.2071 25.2071C27.8166 25.5976 27.1834 25.5976 26.7929 25.2071L22.5 20.9142L18.2071 25.2071C17.8166 25.5976 17.1834 25.5976 16.7929 25.2071Z"
                                fill="url(#paint1_linearbtn3)" />
                            <defs>
                                <linearGradient id="paint0_linearbtn3" x1="5" y1="5" x2="38.0808" y2="4.4353"
                                    gradientUnits="userSpaceOnUse">
                                    <stop offset="0" stop-color="#229AFA" />
                                    <stop offset="1" stop-color="#1168F8" />
                                </linearGradient>
                                <linearGradient id="paint1_linearbtn3" x1="16.5" y1="25.5" x2="16.4322" y2="18.688"
                                    gradientUnits="userSpaceOnUse">
                                    <stop offset="0" stop-color="#229AFA" />
                                    <stop offset="1" stop-color="#1168F8" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="article-box">
                <div class="article-nav-block">
                    <h3>In this article:</h3>
                    <ul class="article-nav">
                        <li><a href="#use-an-info-sheet">Use an Info Sheet&nbsp;<svg width="13" height="14" viewBox="0 0 13 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.462 13.612L0.918 8.68V7.294L6.084 11.794L5.922 12.298V0.868H7.002V12.298L6.804 11.812L12.006 7.294V8.68L6.462 13.612Z"
                                        fill="#5F626F" />
                                </svg>
                            </a></li>
                        <li><a href="#quote-fees">Quote Fees Ahead of Appointments&nbsp;<svg width="13" height="14" viewBox="0 0 13 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.462 13.612L0.918 8.68V7.294L6.084 11.794L5.922 12.298V0.868H7.002V12.298L6.804 11.812L12.006 7.294V8.68L6.462 13.612Z"
                                        fill="#5F626F" />
                                </svg>
                            </a></li>
                        <li><a href="#words">The Words "Evaluation" or "Exam"&nbsp;<svg width="13" height="14" viewBox="0 0 13 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.462 13.612L0.918 8.68V7.294L6.084 11.794L5.922 12.298V0.868H7.002V12.298L6.804 11.812L12.006 7.294V8.68L6.462 13.612Z"
                                        fill="#5F626F" />
                                </svg>
                            </a></li>
                        <li><a href="#make-it">Make it Non-Negotiable&nbsp;<svg width="13" height="14" viewBox="0 0 13 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.462 13.612L0.918 8.68V7.294L6.084 11.794L5.922 12.298V0.868H7.002V12.298L6.804 11.812L12.006 7.294V8.68L6.462 13.612Z"
                                        fill="#5F626F" />
                                </svg>
                            </a></li>
                    </ul>
                </div>
                <p class="big">It happens in every <a href="#">eyecare practice</a>. Patients come in claiming they've
                    never had to pay for a
                    <a href="#">contact lens exam</a> or evaluation before and that they can easily find another OD in
                    the area who
                    won't charge for it. It can be initially infuriating, but we have a few tips for <a
                        href="#">addressing these
                        patients</a> appropriately.
                </p>
                <p class="big">How do you deal with these patients to help them better understand the extra costs of a
                    contact lens
                    evaluation? If you have proven successful tips we would love to her about them in the comments.</p>
                <div class="selected-text">
                    <p>You can read in detail about how to use Opticore to evaluate in the article “<a href="#">Opticore
                            and lens evaluation</a>”.</p>
                </div>
                <h2 id="use-an-info-sheet">Use an Info Sheet</h2>
                <p>Having an info sheet on hand for patients who don't understand the need for a contact lens evaluation
                    fee could be a simple way to help them better see what's included in the evaluation. It's likely
                    they are unaware of the extra time, resources, and expertise that are put into the evaluation and
                    having a consistent and ready response can make it easier:</p>
                <ul>
                    <li>use an info sheet</li>
                    <li>quote fees ahead of appointments</li>
                    <li>the words "evaluation" or "exam"</li>
                    <li>make it non-negotiable</li>
                </ul>
                <p>Without an explanation a patient likely doesn't realize things like the cost of more chair time,
                    additional testing, trial lenses, new technology, positive and negative effects of contacts on eye
                    health, and additional knowledge and decision making by the doctor.</p>
                <div class="img">
                    <img class="lazyWebp" alt="image" data-src="./img/blog/article.png"
                        data-webp="./img/blog/article.webp"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    <span>Some caption</span>
                </div>
                <h2 id="quote-fees">Quote Fees Ahead of Appointments</h2>
                <p>One way to stay ahead of any miscommunication and confrontation on costs it to quote patients ahead
                    of their appointment so they know what is exactly covered by insurance and what isn't. This will
                    give them time to ask questions and better understand the fees outside of your waiting room where
                    they could cause a scene about costs in front of other patients.</p>
                <h3 id="words">The Words "Evaluation" or "Exam"</h3>
                <p>Sometimes just the way you decide to word things can put people in a tizzy. For example, contact lens
                    evaluation could be accepted better than a fitting or a fee. Calling it an evaluation implies that
                    the patient will be receiving additional care included as a part of the evaluation. Another idea is
                    to call it a contact lens exam if evaluation isn't resonating with patients.</p>
                <blockquote>Be strong and confident in your practice, expertise, and value when dealing with tough
                    patients.</blockquote>
                <h2 id="make-it">Make it Non-Negotiable</h2>
                <p>You know better than we do that patients are going to complain about this type of thing. Be strong
                    and confident in your practice, expertise, and value when dealing with tough patients. If you budge
                    once, they are going to expect it again in the future and they could tell their friends they got
                    certain discounts or waived fees that you'll end up having to explain or take care of. It's a
                    non-negotiable fee when getting contact lenses. </p>
                <h2>You may also like: Polarization control in single mode optical fibers</h2>
                <p>An interactive essay we wrote exploring the past, present, and future of opticians industry. Also
                    available as a talk for conferences, events, etc.</p>
                <div class="link-in-article">
                    <a href="#">
                        <div class="image">
                            <img class="lazyWebp" alt="image" data-src="./img/blog/item7_.png"
                                data-webp="./img/blog/item7_.webp"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        </div>
                        <div class="cont">
                            <div class="inf">
                                <span class="tag">how-tos</span>
                                <div class="read"><span class="span-reading-time rt-reading-time"><span
                                            class="rt-label rt-prefix"></span> <span class="rt-time"> 2</span> <span
                                            class="rt-label rt-postfix"></span></span>&nbsp;min read</div>
                                <div class="data">20 Fab 2020</div>
                            </div>
                            <h3>Polarization control in single mode optical fibers</h3>
                        </div>
                    </a>
                </div>
                <div class="references">
                    <h3>References</h3>
                    <ul class="article-refs">
                        <li><a href="#">The Optical Dashboard&nbsp;<svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.674 10.154L0.918 9.398L9 1.316L8.784 1.784L1.908 1.316L2.898 0.325999L10.314 0.739999L10.746 8.156L9.756 9.146L9.288 2.306L9.756 2.072L1.674 10.154Z"
                                        fill="#5F626F" />
                                </svg>
                            </a></li>
                        <li><a href="#">Frames Data Integration&nbsp;<svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.674 10.154L0.918 9.398L9 1.316L8.784 1.784L1.908 1.316L2.898 0.325999L10.314 0.739999L10.746 8.156L9.756 9.146L9.288 2.306L9.756 2.072L1.674 10.154Z"
                                        fill="#5F626F" />
                                </svg>
                            </a></li>
                        <li><a href="#">Import Orders&nbsp;<svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.674 10.154L0.918 9.398L9 1.316L8.784 1.784L1.908 1.316L2.898 0.325999L10.314 0.739999L10.746 8.156L9.756 9.146L9.288 2.306L9.756 2.072L1.674 10.154Z"
                                        fill="#5F626F" />
                                </svg>
                            </a></li>
                        <li><a href="#">Quantity on Hand View&nbsp;<svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1.674 10.154L0.918 9.398L9 1.316L8.784 1.784L1.908 1.316L2.898 0.325999L10.314 0.739999L10.746 8.156L9.756 9.146L9.288 2.306L9.756 2.072L1.674 10.154Z"
                                        fill="#5F626F" />
                                </svg>
                            </a></li>
                    </ul>
                </div>
                {{!-- --}}
                <span class="et_bloom_bottom_trigger"></span>
                <div class="share-this-article">
                    <div class="left">
                        {{>share-links}}
                    </div>
                    <div class="right"><a href="./blog{{htmlPrefix}}">how-tos</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>b-related-articles}}
{{>b-article-subscribe}}
{{>sign-up-newlsetter}}