<div class="b-offer-main">
    <div class="b-offer-main-wrap">
        <div class="container">
            <div class="box">
                <div class="content">
                    <p class="date">June 24, 2021</p>
                    <h1>Your individual offer for Cosmos Studio</h1>
                </div>
                <div class="row cardsRow">
                    <div class="cardInfo w50">
                        <h5>Created by:</h5>
                        <p>Johannes Artemier</p>
                        <span>Umami View</span>
                    </div>
                    <div class="cardInfo w50">
                        <h5>Prepared for:</h5>
                        <p>Client Name</p>
                        <span>Sumup</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>btn-go-down class='bottom' id="1"}}
    <div class="rightContent">
        <div class="static-girl">
            <img class="lazyImportant" data-src="./img/static-girl2.svg" alt="girl" width="137" height="298"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
        </div>
        <img alt="lights" class="lights desktop lazyImportant"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="./img/b-offer-main-lights.png" data-webp="./img/b-offer-main-lights.webp" />
        <img alt="lights" class="lights tablet lazyImportant"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="./img/b-offer-main-lights-tablet.png" data-webp="./img/b-offer-main-lights-mob.webp" />
        <img alt="lights" class="lights mobile lazyImportant"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="./img/b-offer-main-lights-mob.png" data-webp="./img/b-offer-main-lights-mob.webp" />
        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>
        <div class="circle circle-3"></div>
        <div class="circle circle-4"></div>
        <div class="circle circle-5"></div>
        <img class="decor lazyImportant" data-src="./img/offer-decor.svg" alt="decor" width="57" height="57"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />


    </div>
</div>

<div class="your_contact_person" id="contact-person">
    <div class="container">
        <div class="row nowrap alignCenter">
            <div class="left">
                <div class="personCard" data-aos="fade-up" data-aos-delay="50">
                    <h3 class="title">Your contact<br> person</h3>
                    <div class="mainInfo">
                        <div class="img">
                            <img class="lazyWebp" alt="person"
                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                data-src="./img/person.png" data-webp="./img/person.webp" />
                        </div>
                        <p class="name">Florian <br>
                            Förster</p>
                    </div>
                    <ul class="contactsList">
                        <li>
                            <a href="mailto:janesmith@gmail.com" target="_blank">
                                <svg width="38" height="38" viewBox="0 0 38 38" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect width="38" height="38" rx="19" fill="url(#paint0_linear_10108_92120)" />
                                    <path
                                        d="M23.8 11H14C11.2 11 9 13.2 9 16V21.3C9 24.1 11.2 26.3 14 26.3H23.8C26.6 26.3 28.8 24.1 28.8 21.3V16C28.8 13.2 26.5 11 23.8 11ZM14 13H23.8C24.8 13 25.7 13.5 26.2 14.2C26.1 14.3 26 14.3 25.9 14.4C23.8 16.6 21.3 17.7 18.8 17.8C16.3 17.8 13.8 16.8 11.8 14.6C11.7 14.5 11.6 14.4 11.5 14.4C12 13.5 13 13 14 13ZM26.8 21.3C26.8 23 25.5 24.3 23.8 24.3H14C12.3 24.3 11 23 11 21.3V16.6C13.3 18.7 16.1 19.8 18.9 19.8C21.7 19.8 24.5 18.6 26.8 16.4V21.3Z"
                                        fill="white" />
                                    <defs>
                                        <linearGradient id="paint0_linear_10108_92120" x1="19" y1="-3.17865e-10"
                                            x2="9.66382" y2="35.548" gradientUnits="userSpaceOnUse">
                                            <stop offset="0" stop-color="#34EED6" />
                                            <stop offset="1" stop-color="#31CBD5" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                                <span>janesmith@gmail.com</span>
                            </a>
                        </li>
                        <li>
                            <a href="tel:+380923244576">
                                <svg width="38" height="38" viewBox="0 0 38 38" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect width="38" height="38" rx="19" fill="url(#paint0_linear_10108_92124)" />
                                    <path
                                        d="M19 26C19.8 26 20.5 25.3 20.5 24.5C20.5 23.7 19.8 23 19 23C18.2 23 17.5 23.7 17.5 24.5C17.5 25.3 18.2 26 19 26ZM16 9C13.8 9 12 10.8 12 13V25C12 27.2 13.8 29 16 29H22C24.2 29 26 27.2 26 25V13C26 10.8 24.2 9 22 9H16ZM14 13C14 11.9 14.9 11 16 11H22C23.1 11 24 11.9 24 13V25C24 26.1 23.1 27 22 27H16C14.9 27 14 26.1 14 25V13Z"
                                        fill="white" />
                                    <defs>
                                        <linearGradient id="paint0_linear_10108_92124" x1="11" y1="8.97991e-08" x2="19"
                                            y2="38" gradientUnits="userSpaceOnUse">
                                            <stop offset="0" stop-color="#24E3F1" />
                                            <stop offset="1" stop-color="#62AAFF" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                                <span>380923244576</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <svg width="38" height="38" viewBox="0 0 38 38" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect width="38" height="38" rx="19" fill="url(#paint0_linear_10108_92128)" />
                                    <path
                                        d="M26.5943 25.5586V25.558H26.5979V20.2035C26.5979 17.584 26.034 15.5662 22.9717 15.5662C21.4995 15.5662 20.5116 16.374 20.1082 17.1399H20.0657V15.8107H17.1621V25.558H20.1855V20.7315C20.1855 19.4607 20.4264 18.2319 22.0002 18.2319C23.5508 18.2319 23.5739 19.6821 23.5739 20.813V25.5586H26.5943Z"
                                        fill="white" />
                                    <path d="M12.2402 15.8116H15.2673V25.5589H12.2402V15.8116Z" fill="white" />
                                    <path
                                        d="M13.7532 10.959C12.7854 10.959 12 11.7443 12 12.7122C12 13.68 12.7854 14.4818 13.7532 14.4818C14.7211 14.4818 15.5064 13.68 15.5064 12.7122C15.5058 11.7443 14.7205 10.959 13.7532 10.959V10.959Z"
                                        fill="white" />
                                    <defs>
                                        <linearGradient id="paint0_linear_10108_92128" x1="19" y1="5.51343e-07" x2="27"
                                            y2="38" gradientUnits="userSpaceOnUse">
                                            <stop offset="0" stop-color="#3699FF" />
                                            <stop offset="1" stop-color="#036EDB" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                                <span>@opti.core.UW</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right" data-aos="fade-up" data-aos-delay="250">
                <blockquote>
                    Hello, my name is CONSULTANT NAME, <br><br>
                    I am the personal contact person at Umami View. If you have any questions about the offer or our
                    solution, do not hesitate and contact me!
                    I am the personal contact person at Umami View. If you have any questions about the offer or our
                    solution, do not hesitate and contact me!<br><br>
                    I am looking forward to our joint project!<br><br>
                    SURNAME CONSULTANT
                    <img class="lazyWebp signature" alt="signature"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/signature.png" data-webp="./img/signature.webp" />

                </blockquote>
            </div>
        </div>
    </div>
</div>


<div class="project_flow" id="project-flow">
    <div class="project_flow_wrap">
        <div class="container">
            <div class="titleRow">
                <h2 class="title" data-aos="fade-up">Project Flow</h2>
                <p data-aos="fade-up" data-aos-delay="50">To make the implementation of Umami View as easy and smooth as
                    possible for you, we have outlined our
                    proven project workflow including its contents and responsibilities. This way you know exactly when
                    you
                    have to do which things!
                </p>
            </div>
            <div class="row nowrap flowRow" data-aos="fade-up">
                <div class="project_flow_item" data-aos="custom-fade" data-aos-delay="0">
                    <div class="wrap">
                        <div class="top">
                            <span class="index">01</span>
                            <h4>Offer</h4>
                        </div>
                        <div class="bottom">
                            <div class="button">
                                <svg width="120" height="18" viewBox="0 0 120 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M17.9035 9C17.9035 13.9706 13.8957 18 8.95175 18C4.00784 18 0 13.9706 0 9C0 4.02944 4.00784 0 8.95175 0C13.8957 0 17.9035 4.02944 17.9035 9Z"
                                        fill="white" fill-opacity="0.8" />
                                    <path
                                        d="M13.427 16.7958C16.1026 15.2397 17.9028 12.3312 17.9028 8.99993C17.9028 5.66869 16.1026 2.76017 13.427 1.20402C10.7513 2.76017 8.95117 5.66869 8.95117 8.99993C8.95117 12.3312 10.7513 15.2397 13.427 16.7958Z"
                                        fill="white" />
                                    <path
                                        d="M13.4863 16.786C14.4496 17.4316 16.1396 18 17.9045 18V0C16.1396 0 14.8729 0.404701 13.4863 1.29123C15.984 2.88803 17.9043 5.80392 17.9043 9.00014C17.9043 12.1963 15.9838 15.1892 13.4863 16.786Z"
                                        fill="white" fill-opacity="0.8" />
                                    <path
                                        d="M26.9484 4.075V10.72C26.9484 11.51 27.1534 12.105 27.5634 12.505C27.9834 12.905 28.5634 13.105 29.3034 13.105C30.0534 13.105 30.6334 12.905 31.0434 12.505C31.4634 12.105 31.6734 11.51 31.6734 10.72V4.075H33.3834V10.69C33.3834 11.54 33.1984 12.26 32.8284 12.85C32.4584 13.44 31.9634 13.88 31.3434 14.17C30.7234 14.46 30.0384 14.605 29.2884 14.605C28.5384 14.605 27.8534 14.46 27.2334 14.17C26.6234 13.88 26.1384 13.44 25.7784 12.85C25.4184 12.26 25.2384 11.54 25.2384 10.69V4.075H26.9484ZM45.6149 6.1C46.2649 6.1 46.8449 6.235 47.3549 6.505C47.8749 6.775 48.2799 7.175 48.5699 7.705C48.8699 8.235 49.0199 8.875 49.0199 9.625V14.5H47.3249V9.88C47.3249 9.14 47.1399 8.575 46.7699 8.185C46.3999 7.785 45.8949 7.585 45.2549 7.585C44.6149 7.585 44.1049 7.785 43.7249 8.185C43.3549 8.575 43.1699 9.14 43.1699 9.88V14.5H41.4749V9.88C41.4749 9.14 41.2899 8.575 40.9199 8.185C40.5499 7.785 40.0449 7.585 39.4049 7.585C38.7649 7.585 38.2549 7.785 37.8749 8.185C37.5049 8.575 37.3199 9.14 37.3199 9.88V14.5H35.6099V6.235H37.3199V7.18C37.5999 6.84 37.9549 6.575 38.3849 6.385C38.8149 6.195 39.2749 6.1 39.7649 6.1C40.4249 6.1 41.0149 6.24 41.5349 6.52C42.0549 6.8 42.4549 7.205 42.7349 7.735C42.9849 7.235 43.3749 6.84 43.9049 6.55C44.4349 6.25 45.0049 6.1 45.6149 6.1ZM50.6258 10.33C50.6258 9.5 50.7958 8.765 51.1358 8.125C51.4858 7.485 51.9558 6.99 52.5458 6.64C53.1458 6.28 53.8058 6.1 54.5258 6.1C55.1758 6.1 55.7408 6.23 56.2208 6.49C56.7108 6.74 57.1008 7.055 57.3908 7.435V6.235H59.1158V14.5H57.3908V13.27C57.1008 13.66 56.7058 13.985 56.2058 14.245C55.7058 14.505 55.1358 14.635 54.4958 14.635C53.7858 14.635 53.1358 14.455 52.5458 14.095C51.9558 13.725 51.4858 13.215 51.1358 12.565C50.7958 11.905 50.6258 11.16 50.6258 10.33ZM57.3908 10.36C57.3908 9.79 57.2708 9.295 57.0308 8.875C56.8008 8.455 56.4958 8.135 56.1158 7.915C55.7358 7.695 55.3258 7.585 54.8858 7.585C54.4458 7.585 54.0358 7.695 53.6558 7.915C53.2758 8.125 52.9658 8.44 52.7258 8.86C52.4958 9.27 52.3808 9.76 52.3808 10.33C52.3808 10.9 52.4958 11.4 52.7258 11.83C52.9658 12.26 53.2758 12.59 53.6558 12.82C54.0458 13.04 54.4558 13.15 54.8858 13.15C55.3258 13.15 55.7358 13.04 56.1158 12.82C56.4958 12.6 56.8008 12.28 57.0308 11.86C57.2708 11.43 57.3908 10.93 57.3908 10.36ZM71.3668 6.1C72.0168 6.1 72.5968 6.235 73.1068 6.505C73.6268 6.775 74.0318 7.175 74.3218 7.705C74.6218 8.235 74.7718 8.875 74.7718 9.625V14.5H73.0768V9.88C73.0768 9.14 72.8918 8.575 72.5218 8.185C72.1518 7.785 71.6468 7.585 71.0068 7.585C70.3668 7.585 69.8568 7.785 69.4768 8.185C69.1068 8.575 68.9218 9.14 68.9218 9.88V14.5H67.2268V9.88C67.2268 9.14 67.0418 8.575 66.6718 8.185C66.3018 7.785 65.7968 7.585 65.1568 7.585C64.5168 7.585 64.0068 7.785 63.6268 8.185C63.2568 8.575 63.0718 9.14 63.0718 9.88V14.5H61.3618V6.235H63.0718V7.18C63.3518 6.84 63.7068 6.575 64.1368 6.385C64.5668 6.195 65.0268 6.1 65.5168 6.1C66.1768 6.1 66.7668 6.24 67.2868 6.52C67.8068 6.8 68.2068 7.205 68.4868 7.735C68.7368 7.235 69.1268 6.84 69.6568 6.55C70.1868 6.25 70.7568 6.1 71.3668 6.1ZM77.8178 5.14C77.5078 5.14 77.2478 5.035 77.0378 4.825C76.8278 4.615 76.7228 4.355 76.7228 4.045C76.7228 3.735 76.8278 3.475 77.0378 3.265C77.2478 3.055 77.5078 2.95 77.8178 2.95C78.1178 2.95 78.3728 3.055 78.5828 3.265C78.7928 3.475 78.8978 3.735 78.8978 4.045C78.8978 4.355 78.7928 4.615 78.5828 4.825C78.3728 5.035 78.1178 5.14 77.8178 5.14ZM78.6578 6.235V14.5H76.9478V6.235H78.6578ZM93.7843 4.075L89.8693 14.5H87.8893L83.9593 4.075H85.7893L88.8793 12.745L91.9843 4.075H93.7843ZM96.0844 5.14C95.7744 5.14 95.5144 5.035 95.3044 4.825C95.0944 4.615 94.9894 4.355 94.9894 4.045C94.9894 3.735 95.0944 3.475 95.3044 3.265C95.5144 3.055 95.7744 2.95 96.0844 2.95C96.3844 2.95 96.6394 3.055 96.8494 3.265C97.0594 3.475 97.1644 3.735 97.1644 4.045C97.1644 4.355 97.0594 4.615 96.8494 4.825C96.6394 5.035 96.3844 5.14 96.0844 5.14ZM96.9244 6.235V14.5H95.2144V6.235H96.9244ZM106.744 10.165C106.744 10.475 106.724 10.755 106.684 11.005H100.369C100.419 11.665 100.664 12.195 101.104 12.595C101.544 12.995 102.084 13.195 102.724 13.195C103.644 13.195 104.294 12.81 104.674 12.04H106.519C106.269 12.8 105.814 13.425 105.154 13.915C104.504 14.395 103.694 14.635 102.724 14.635C101.934 14.635 101.224 14.46 100.594 14.11C99.9744 13.75 99.4844 13.25 99.1244 12.61C98.7744 11.96 98.5994 11.21 98.5994 10.36C98.5994 9.51 98.7694 8.765 99.1094 8.125C99.4594 7.475 99.9444 6.975 100.564 6.625C101.194 6.275 101.914 6.1 102.724 6.1C103.504 6.1 104.199 6.27 104.809 6.61C105.419 6.95 105.894 7.43 106.234 8.05C106.574 8.66 106.744 9.365 106.744 10.165ZM104.959 9.625C104.949 8.995 104.724 8.49 104.284 8.11C103.844 7.73 103.299 7.54 102.649 7.54C102.059 7.54 101.554 7.73 101.134 8.11C100.714 8.48 100.464 8.985 100.384 9.625H104.959ZM119.527 6.235L116.962 14.5H115.162L113.497 8.395L111.832 14.5H110.032L107.452 6.235H109.192L110.917 12.88L112.672 6.235H114.457L116.137 12.85L117.847 6.235H119.527Z"
                                        fill="white" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <svg data-aos-delay="0" class="arrow" width="113" height="27" viewBox="0 0 113 27" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M111.954 26.0986C112.369 26.106 112.71 25.7763 112.718 25.3622L112.839 18.6132C112.847 18.1991 112.517 17.8573 112.103 17.8499C111.689 17.8425 111.347 18.1722 111.339 18.5863L111.232 24.5853L105.233 24.4776C104.818 24.4701 104.477 24.7998 104.469 25.214C104.462 25.6281 104.791 25.9699 105.206 25.9773L111.954 26.0986ZM112.508 24.828C82.0562 -6.73776 31.7813 -7.64102 0.21561 22.8105L1.25705 23.89C32.2265 -5.98631 81.5518 -5.10011 111.428 25.8694L112.508 24.828Z"
                            fill="white" fill-opacity="0.6" />
                    </svg>
                </div>
                <div class="project_flow_item customer" data-aos="custom-fade" data-aos-delay="100">
                    <div class="wrap">
                        <div class="top">
                            <span class="index">02</span>
                            <h4>Promotion</h4>
                        </div>
                        <div class="bottom">
                            <div class="button">Customer</div>
                        </div>
                    </div>
                    <svg data-aos-delay="150" class="arrow" width="114" height="27" viewBox="0 0 114 27" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M112.981 1.60304C112.974 1.1889 112.632 0.859196 112.218 0.866637L105.469 0.98789C105.055 0.995331 104.725 1.3371 104.733 1.75124C104.74 2.16539 105.082 2.49509 105.496 2.48765L111.495 2.37987L111.603 8.3789C111.61 8.79305 111.952 9.12275 112.366 9.11531C112.78 9.10787 113.11 8.7661 113.103 8.35195L112.981 1.60304ZM111.692 1.0958C81.8155 32.0653 32.4902 32.9515 1.52072 3.07519L0.479282 4.15473C32.045 34.6062 82.3199 33.703 112.771 2.13723L111.692 1.0958Z"
                            fill="white" fill-opacity="0.6" />
                    </svg>
                </div>
                <div class="project_flow_item" data-aos="custom-fade" data-aos-delay="200">
                    <div class="wrap">
                        <div class="top">
                            <span class="index">03</span>
                            <h4>Contract</h4>
                        </div>
                        <div class="bottom">
                            <div class="button">
                                <svg width="120" height="18" viewBox="0 0 120 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M17.9035 9C17.9035 13.9706 13.8957 18 8.95175 18C4.00784 18 0 13.9706 0 9C0 4.02944 4.00784 0 8.95175 0C13.8957 0 17.9035 4.02944 17.9035 9Z"
                                        fill="white" fill-opacity="0.8" />
                                    <path
                                        d="M13.427 16.7958C16.1026 15.2397 17.9028 12.3312 17.9028 8.99993C17.9028 5.66869 16.1026 2.76017 13.427 1.20402C10.7513 2.76017 8.95117 5.66869 8.95117 8.99993C8.95117 12.3312 10.7513 15.2397 13.427 16.7958Z"
                                        fill="white" />
                                    <path
                                        d="M13.4863 16.786C14.4496 17.4316 16.1396 18 17.9045 18V0C16.1396 0 14.8729 0.404701 13.4863 1.29123C15.984 2.88803 17.9043 5.80392 17.9043 9.00014C17.9043 12.1963 15.9838 15.1892 13.4863 16.786Z"
                                        fill="white" fill-opacity="0.8" />
                                    <path
                                        d="M26.9484 4.075V10.72C26.9484 11.51 27.1534 12.105 27.5634 12.505C27.9834 12.905 28.5634 13.105 29.3034 13.105C30.0534 13.105 30.6334 12.905 31.0434 12.505C31.4634 12.105 31.6734 11.51 31.6734 10.72V4.075H33.3834V10.69C33.3834 11.54 33.1984 12.26 32.8284 12.85C32.4584 13.44 31.9634 13.88 31.3434 14.17C30.7234 14.46 30.0384 14.605 29.2884 14.605C28.5384 14.605 27.8534 14.46 27.2334 14.17C26.6234 13.88 26.1384 13.44 25.7784 12.85C25.4184 12.26 25.2384 11.54 25.2384 10.69V4.075H26.9484ZM45.6149 6.1C46.2649 6.1 46.8449 6.235 47.3549 6.505C47.8749 6.775 48.2799 7.175 48.5699 7.705C48.8699 8.235 49.0199 8.875 49.0199 9.625V14.5H47.3249V9.88C47.3249 9.14 47.1399 8.575 46.7699 8.185C46.3999 7.785 45.8949 7.585 45.2549 7.585C44.6149 7.585 44.1049 7.785 43.7249 8.185C43.3549 8.575 43.1699 9.14 43.1699 9.88V14.5H41.4749V9.88C41.4749 9.14 41.2899 8.575 40.9199 8.185C40.5499 7.785 40.0449 7.585 39.4049 7.585C38.7649 7.585 38.2549 7.785 37.8749 8.185C37.5049 8.575 37.3199 9.14 37.3199 9.88V14.5H35.6099V6.235H37.3199V7.18C37.5999 6.84 37.9549 6.575 38.3849 6.385C38.8149 6.195 39.2749 6.1 39.7649 6.1C40.4249 6.1 41.0149 6.24 41.5349 6.52C42.0549 6.8 42.4549 7.205 42.7349 7.735C42.9849 7.235 43.3749 6.84 43.9049 6.55C44.4349 6.25 45.0049 6.1 45.6149 6.1ZM50.6258 10.33C50.6258 9.5 50.7958 8.765 51.1358 8.125C51.4858 7.485 51.9558 6.99 52.5458 6.64C53.1458 6.28 53.8058 6.1 54.5258 6.1C55.1758 6.1 55.7408 6.23 56.2208 6.49C56.7108 6.74 57.1008 7.055 57.3908 7.435V6.235H59.1158V14.5H57.3908V13.27C57.1008 13.66 56.7058 13.985 56.2058 14.245C55.7058 14.505 55.1358 14.635 54.4958 14.635C53.7858 14.635 53.1358 14.455 52.5458 14.095C51.9558 13.725 51.4858 13.215 51.1358 12.565C50.7958 11.905 50.6258 11.16 50.6258 10.33ZM57.3908 10.36C57.3908 9.79 57.2708 9.295 57.0308 8.875C56.8008 8.455 56.4958 8.135 56.1158 7.915C55.7358 7.695 55.3258 7.585 54.8858 7.585C54.4458 7.585 54.0358 7.695 53.6558 7.915C53.2758 8.125 52.9658 8.44 52.7258 8.86C52.4958 9.27 52.3808 9.76 52.3808 10.33C52.3808 10.9 52.4958 11.4 52.7258 11.83C52.9658 12.26 53.2758 12.59 53.6558 12.82C54.0458 13.04 54.4558 13.15 54.8858 13.15C55.3258 13.15 55.7358 13.04 56.1158 12.82C56.4958 12.6 56.8008 12.28 57.0308 11.86C57.2708 11.43 57.3908 10.93 57.3908 10.36ZM71.3668 6.1C72.0168 6.1 72.5968 6.235 73.1068 6.505C73.6268 6.775 74.0318 7.175 74.3218 7.705C74.6218 8.235 74.7718 8.875 74.7718 9.625V14.5H73.0768V9.88C73.0768 9.14 72.8918 8.575 72.5218 8.185C72.1518 7.785 71.6468 7.585 71.0068 7.585C70.3668 7.585 69.8568 7.785 69.4768 8.185C69.1068 8.575 68.9218 9.14 68.9218 9.88V14.5H67.2268V9.88C67.2268 9.14 67.0418 8.575 66.6718 8.185C66.3018 7.785 65.7968 7.585 65.1568 7.585C64.5168 7.585 64.0068 7.785 63.6268 8.185C63.2568 8.575 63.0718 9.14 63.0718 9.88V14.5H61.3618V6.235H63.0718V7.18C63.3518 6.84 63.7068 6.575 64.1368 6.385C64.5668 6.195 65.0268 6.1 65.5168 6.1C66.1768 6.1 66.7668 6.24 67.2868 6.52C67.8068 6.8 68.2068 7.205 68.4868 7.735C68.7368 7.235 69.1268 6.84 69.6568 6.55C70.1868 6.25 70.7568 6.1 71.3668 6.1ZM77.8178 5.14C77.5078 5.14 77.2478 5.035 77.0378 4.825C76.8278 4.615 76.7228 4.355 76.7228 4.045C76.7228 3.735 76.8278 3.475 77.0378 3.265C77.2478 3.055 77.5078 2.95 77.8178 2.95C78.1178 2.95 78.3728 3.055 78.5828 3.265C78.7928 3.475 78.8978 3.735 78.8978 4.045C78.8978 4.355 78.7928 4.615 78.5828 4.825C78.3728 5.035 78.1178 5.14 77.8178 5.14ZM78.6578 6.235V14.5H76.9478V6.235H78.6578ZM93.7843 4.075L89.8693 14.5H87.8893L83.9593 4.075H85.7893L88.8793 12.745L91.9843 4.075H93.7843ZM96.0844 5.14C95.7744 5.14 95.5144 5.035 95.3044 4.825C95.0944 4.615 94.9894 4.355 94.9894 4.045C94.9894 3.735 95.0944 3.475 95.3044 3.265C95.5144 3.055 95.7744 2.95 96.0844 2.95C96.3844 2.95 96.6394 3.055 96.8494 3.265C97.0594 3.475 97.1644 3.735 97.1644 4.045C97.1644 4.355 97.0594 4.615 96.8494 4.825C96.6394 5.035 96.3844 5.14 96.0844 5.14ZM96.9244 6.235V14.5H95.2144V6.235H96.9244ZM106.744 10.165C106.744 10.475 106.724 10.755 106.684 11.005H100.369C100.419 11.665 100.664 12.195 101.104 12.595C101.544 12.995 102.084 13.195 102.724 13.195C103.644 13.195 104.294 12.81 104.674 12.04H106.519C106.269 12.8 105.814 13.425 105.154 13.915C104.504 14.395 103.694 14.635 102.724 14.635C101.934 14.635 101.224 14.46 100.594 14.11C99.9744 13.75 99.4844 13.25 99.1244 12.61C98.7744 11.96 98.5994 11.21 98.5994 10.36C98.5994 9.51 98.7694 8.765 99.1094 8.125C99.4594 7.475 99.9444 6.975 100.564 6.625C101.194 6.275 101.914 6.1 102.724 6.1C103.504 6.1 104.199 6.27 104.809 6.61C105.419 6.95 105.894 7.43 106.234 8.05C106.574 8.66 106.744 9.365 106.744 10.165ZM104.959 9.625C104.949 8.995 104.724 8.49 104.284 8.11C103.844 7.73 103.299 7.54 102.649 7.54C102.059 7.54 101.554 7.73 101.134 8.11C100.714 8.48 100.464 8.985 100.384 9.625H104.959ZM119.527 6.235L116.962 14.5H115.162L113.497 8.395L111.832 14.5H110.032L107.452 6.235H109.192L110.917 12.88L112.672 6.235H114.457L116.137 12.85L117.847 6.235H119.527Z"
                                        fill="white" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <svg data-aos-delay="150" class="arrow" width="113" height="27" viewBox="0 0 113 27" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M111.954 26.0986C112.369 26.106 112.71 25.7763 112.718 25.3622L112.839 18.6132C112.847 18.1991 112.517 17.8573 112.103 17.8499C111.689 17.8425 111.347 18.1722 111.339 18.5863L111.232 24.5853L105.233 24.4776C104.818 24.4701 104.477 24.7998 104.469 25.214C104.462 25.6281 104.791 25.9699 105.206 25.9773L111.954 26.0986ZM112.508 24.828C82.0562 -6.73776 31.7813 -7.64102 0.21561 22.8105L1.25705 23.89C32.2265 -5.98631 81.5518 -5.10011 111.428 25.8694L112.508 24.828Z"
                            fill="white" fill-opacity="0.6" />
                    </svg>
                </div>
                <div class="project_flow_item customer" data-aos="custom-fade" data-aos-delay="300">
                    <div class="wrap">
                        <div class="top">
                            <span class="index">04</span>
                            <h4>Contract conclusion</h4>
                        </div>
                        <div class="bottom">
                            <div class="button">Customer</div>
                        </div>
                    </div>
                    <svg data-aos-delay="250" class="arrow" width="114" height="27" viewBox="0 0 114 27" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M112.981 1.60304C112.974 1.1889 112.632 0.859196 112.218 0.866637L105.469 0.98789C105.055 0.995331 104.725 1.3371 104.733 1.75124C104.74 2.16539 105.082 2.49509 105.496 2.48765L111.495 2.37987L111.603 8.3789C111.61 8.79305 111.952 9.12275 112.366 9.11531C112.78 9.10787 113.11 8.7661 113.103 8.35195L112.981 1.60304ZM111.692 1.0958C81.8155 32.0653 32.4902 32.9515 1.52072 3.07519L0.479282 4.15473C32.045 34.6062 82.3199 33.703 112.771 2.13723L111.692 1.0958Z"
                            fill="white" fill-opacity="0.6" />
                    </svg>
                </div>
                <div class="project_flow_item" data-aos="custom-fade" data-aos-delay="400">
                    <div class="wrap">
                        <div class="top">
                            <span class="index">05</span>
                            <h4>Project start date </h4>
                        </div>
                        <div class="bottom">
                            <div class="button">
                                <svg width="120" height="18" viewBox="0 0 120 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M17.9035 9C17.9035 13.9706 13.8957 18 8.95175 18C4.00784 18 0 13.9706 0 9C0 4.02944 4.00784 0 8.95175 0C13.8957 0 17.9035 4.02944 17.9035 9Z"
                                        fill="white" fill-opacity="0.8" />
                                    <path
                                        d="M13.427 16.7958C16.1026 15.2397 17.9028 12.3312 17.9028 8.99993C17.9028 5.66869 16.1026 2.76017 13.427 1.20402C10.7513 2.76017 8.95117 5.66869 8.95117 8.99993C8.95117 12.3312 10.7513 15.2397 13.427 16.7958Z"
                                        fill="white" />
                                    <path
                                        d="M13.4863 16.786C14.4496 17.4316 16.1396 18 17.9045 18V0C16.1396 0 14.8729 0.404701 13.4863 1.29123C15.984 2.88803 17.9043 5.80392 17.9043 9.00014C17.9043 12.1963 15.9838 15.1892 13.4863 16.786Z"
                                        fill="white" fill-opacity="0.8" />
                                    <path
                                        d="M26.9484 4.075V10.72C26.9484 11.51 27.1534 12.105 27.5634 12.505C27.9834 12.905 28.5634 13.105 29.3034 13.105C30.0534 13.105 30.6334 12.905 31.0434 12.505C31.4634 12.105 31.6734 11.51 31.6734 10.72V4.075H33.3834V10.69C33.3834 11.54 33.1984 12.26 32.8284 12.85C32.4584 13.44 31.9634 13.88 31.3434 14.17C30.7234 14.46 30.0384 14.605 29.2884 14.605C28.5384 14.605 27.8534 14.46 27.2334 14.17C26.6234 13.88 26.1384 13.44 25.7784 12.85C25.4184 12.26 25.2384 11.54 25.2384 10.69V4.075H26.9484ZM45.6149 6.1C46.2649 6.1 46.8449 6.235 47.3549 6.505C47.8749 6.775 48.2799 7.175 48.5699 7.705C48.8699 8.235 49.0199 8.875 49.0199 9.625V14.5H47.3249V9.88C47.3249 9.14 47.1399 8.575 46.7699 8.185C46.3999 7.785 45.8949 7.585 45.2549 7.585C44.6149 7.585 44.1049 7.785 43.7249 8.185C43.3549 8.575 43.1699 9.14 43.1699 9.88V14.5H41.4749V9.88C41.4749 9.14 41.2899 8.575 40.9199 8.185C40.5499 7.785 40.0449 7.585 39.4049 7.585C38.7649 7.585 38.2549 7.785 37.8749 8.185C37.5049 8.575 37.3199 9.14 37.3199 9.88V14.5H35.6099V6.235H37.3199V7.18C37.5999 6.84 37.9549 6.575 38.3849 6.385C38.8149 6.195 39.2749 6.1 39.7649 6.1C40.4249 6.1 41.0149 6.24 41.5349 6.52C42.0549 6.8 42.4549 7.205 42.7349 7.735C42.9849 7.235 43.3749 6.84 43.9049 6.55C44.4349 6.25 45.0049 6.1 45.6149 6.1ZM50.6258 10.33C50.6258 9.5 50.7958 8.765 51.1358 8.125C51.4858 7.485 51.9558 6.99 52.5458 6.64C53.1458 6.28 53.8058 6.1 54.5258 6.1C55.1758 6.1 55.7408 6.23 56.2208 6.49C56.7108 6.74 57.1008 7.055 57.3908 7.435V6.235H59.1158V14.5H57.3908V13.27C57.1008 13.66 56.7058 13.985 56.2058 14.245C55.7058 14.505 55.1358 14.635 54.4958 14.635C53.7858 14.635 53.1358 14.455 52.5458 14.095C51.9558 13.725 51.4858 13.215 51.1358 12.565C50.7958 11.905 50.6258 11.16 50.6258 10.33ZM57.3908 10.36C57.3908 9.79 57.2708 9.295 57.0308 8.875C56.8008 8.455 56.4958 8.135 56.1158 7.915C55.7358 7.695 55.3258 7.585 54.8858 7.585C54.4458 7.585 54.0358 7.695 53.6558 7.915C53.2758 8.125 52.9658 8.44 52.7258 8.86C52.4958 9.27 52.3808 9.76 52.3808 10.33C52.3808 10.9 52.4958 11.4 52.7258 11.83C52.9658 12.26 53.2758 12.59 53.6558 12.82C54.0458 13.04 54.4558 13.15 54.8858 13.15C55.3258 13.15 55.7358 13.04 56.1158 12.82C56.4958 12.6 56.8008 12.28 57.0308 11.86C57.2708 11.43 57.3908 10.93 57.3908 10.36ZM71.3668 6.1C72.0168 6.1 72.5968 6.235 73.1068 6.505C73.6268 6.775 74.0318 7.175 74.3218 7.705C74.6218 8.235 74.7718 8.875 74.7718 9.625V14.5H73.0768V9.88C73.0768 9.14 72.8918 8.575 72.5218 8.185C72.1518 7.785 71.6468 7.585 71.0068 7.585C70.3668 7.585 69.8568 7.785 69.4768 8.185C69.1068 8.575 68.9218 9.14 68.9218 9.88V14.5H67.2268V9.88C67.2268 9.14 67.0418 8.575 66.6718 8.185C66.3018 7.785 65.7968 7.585 65.1568 7.585C64.5168 7.585 64.0068 7.785 63.6268 8.185C63.2568 8.575 63.0718 9.14 63.0718 9.88V14.5H61.3618V6.235H63.0718V7.18C63.3518 6.84 63.7068 6.575 64.1368 6.385C64.5668 6.195 65.0268 6.1 65.5168 6.1C66.1768 6.1 66.7668 6.24 67.2868 6.52C67.8068 6.8 68.2068 7.205 68.4868 7.735C68.7368 7.235 69.1268 6.84 69.6568 6.55C70.1868 6.25 70.7568 6.1 71.3668 6.1ZM77.8178 5.14C77.5078 5.14 77.2478 5.035 77.0378 4.825C76.8278 4.615 76.7228 4.355 76.7228 4.045C76.7228 3.735 76.8278 3.475 77.0378 3.265C77.2478 3.055 77.5078 2.95 77.8178 2.95C78.1178 2.95 78.3728 3.055 78.5828 3.265C78.7928 3.475 78.8978 3.735 78.8978 4.045C78.8978 4.355 78.7928 4.615 78.5828 4.825C78.3728 5.035 78.1178 5.14 77.8178 5.14ZM78.6578 6.235V14.5H76.9478V6.235H78.6578ZM93.7843 4.075L89.8693 14.5H87.8893L83.9593 4.075H85.7893L88.8793 12.745L91.9843 4.075H93.7843ZM96.0844 5.14C95.7744 5.14 95.5144 5.035 95.3044 4.825C95.0944 4.615 94.9894 4.355 94.9894 4.045C94.9894 3.735 95.0944 3.475 95.3044 3.265C95.5144 3.055 95.7744 2.95 96.0844 2.95C96.3844 2.95 96.6394 3.055 96.8494 3.265C97.0594 3.475 97.1644 3.735 97.1644 4.045C97.1644 4.355 97.0594 4.615 96.8494 4.825C96.6394 5.035 96.3844 5.14 96.0844 5.14ZM96.9244 6.235V14.5H95.2144V6.235H96.9244ZM106.744 10.165C106.744 10.475 106.724 10.755 106.684 11.005H100.369C100.419 11.665 100.664 12.195 101.104 12.595C101.544 12.995 102.084 13.195 102.724 13.195C103.644 13.195 104.294 12.81 104.674 12.04H106.519C106.269 12.8 105.814 13.425 105.154 13.915C104.504 14.395 103.694 14.635 102.724 14.635C101.934 14.635 101.224 14.46 100.594 14.11C99.9744 13.75 99.4844 13.25 99.1244 12.61C98.7744 11.96 98.5994 11.21 98.5994 10.36C98.5994 9.51 98.7694 8.765 99.1094 8.125C99.4594 7.475 99.9444 6.975 100.564 6.625C101.194 6.275 101.914 6.1 102.724 6.1C103.504 6.1 104.199 6.27 104.809 6.61C105.419 6.95 105.894 7.43 106.234 8.05C106.574 8.66 106.744 9.365 106.744 10.165ZM104.959 9.625C104.949 8.995 104.724 8.49 104.284 8.11C103.844 7.73 103.299 7.54 102.649 7.54C102.059 7.54 101.554 7.73 101.134 8.11C100.714 8.48 100.464 8.985 100.384 9.625H104.959ZM119.527 6.235L116.962 14.5H115.162L113.497 8.395L111.832 14.5H110.032L107.452 6.235H109.192L110.917 12.88L112.672 6.235H114.457L116.137 12.85L117.847 6.235H119.527Z"
                                        fill="white" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>btn-go-down class='bottom' text="What about details?"}}
</div>

<div class="flow_details">
    <div class="container">
        <div class="flow_details_item" data-aos="custom-fade" data-aos-delay="0">
            <div class="wrap">
                <div class="icon">
                    <img class="lazyWebp" alt="logo" width="40" height="40"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/umami_logo.svg" data-webp="./img/umami_logo.svg" />
                </div>
                <div class="content">
                    <div class="titleLine">
                        <h5>Offer</h5> <span class="tag">by Umami View</span>
                    </div>
                    <p>You have received an offer from our sales representative regarding the implementation and the
                        possible license costs. Please read it carefully, if you have any questions we will be happy to
                        help
                        you.</p>
                </div>
            </div>
            <div class="flow_details_item__step left">
                <svg class="arrow desktop" width="106" height="98" viewBox="0 0 106 98" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M96.0979 38.1327C96.4473 38.3551 96.9109 38.252 97.1333 37.9026C97.3557 37.5531 97.2526 37.0896 96.9032 36.8672L96.0979 38.1327ZM19.0771 59.2762C19.2211 59.6646 19.6527 59.8627 20.0411 59.7187L26.3701 57.3723C26.7585 57.2283 26.9566 56.7967 26.8126 56.4083C26.6686 56.02 26.237 55.8218 25.8487 55.9658L20.2229 58.0516L18.1371 52.4258C17.9931 52.0374 17.5616 51.8393 17.1732 51.9833C16.7848 52.1272 16.5867 52.5588 16.7307 52.9472L19.0771 59.2762ZM20.462 59.3284C25.8369 47.6198 36.6164 37.1338 50.1164 32.1717C63.5908 27.219 79.7976 27.7601 96.0979 38.1327L96.9032 36.8672C80.2025 26.2399 63.5059 25.6521 49.5989 30.7638C35.7174 35.8661 24.6372 46.6377 19.0987 58.7026L20.462 59.3284Z"
                        fill="#0B67F0" />
                </svg>
                <svg class="arrow mobile" width="35" height="27" viewBox="0 0 35 27" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M34.0129 2.67167C34.4228 2.73105 34.8033 2.44686 34.8626 2.03693C34.922 1.62699 34.6378 1.24654 34.2279 1.18716L34.0129 2.67167ZM5.30133 26.1009C5.59202 26.396 6.06688 26.3996 6.36196 26.1089L11.1705 21.3718C11.4656 21.0811 11.4692 20.6062 11.1785 20.3112C10.8878 20.0161 10.4129 20.0125 10.1179 20.3032L5.84356 24.514L1.63282 20.2397C1.34213 19.9446 0.867266 19.941 0.572188 20.2317C0.277109 20.5224 0.273552 20.9973 0.564243 21.2923L5.30133 26.1009ZM6.5856 25.5802C6.62945 19.7248 9.14435 13.3569 13.8201 8.77637C18.4765 4.2149 25.2921 1.40855 34.0129 2.67167L34.2279 1.18716C25.0375 -0.143986 17.756 2.82087 12.7704 7.70485C7.8043 12.5698 5.13243 19.3216 5.08564 25.569L6.5856 25.5802Z"
                        fill="#0B67F0" />
                </svg>
                <span>We are here</span>
            </div>
        </div>
        <div class="flow_details_item" data-aos="custom-fade" data-aos-delay="200">
            <div class="wrap">
                <div class="icon">
                    <img class="lazyWebp" alt="logo" width="40" height="40"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/offer_icon.svg" data-webp="./img/offer_icon.svg" />
                </div>
                <div class="content">
                    <div class="titleLine">
                        <h5>Promotion</h5> <span class="tag">by customer</span>
                    </div>
                    <p>You can submit the offer sent to you by us unsigned to the agency responsible for you (State
                        Ministries/Federal Ministry of Economics). Please note that you can only receive funding for a
                        project that has not yet been started and for a project that has not yet been commissioned
                        (contracts have been signed).</p>
                    <p>As soon as you have submitted this, wait for the confirmation of receipt by the responsible
                        ministry
                        (by e-mail or post).</p>
                    <p>Application form Bavaria can be found <a href="#" target="_blank">by link</a>.</p>
                    <p>After you have received the confirmation of receipt, contact us and we will initiate the next
                        step.
                    </p>
                </div>
            </div>
            <div class="flow_details_item__step bottom">
                <svg class="arrow desktop" width="62" height="40" viewBox="0 0 62 40" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M61.2045 32.3118C61.3466 31.9227 61.1464 31.4921 60.7574 31.35L54.4172 29.0338C54.0281 28.8917 53.5975 29.0918 53.4554 29.4809C53.3132 29.87 53.5134 30.3006 53.9025 30.4427L59.5382 32.5015L57.4794 38.1373C57.3372 38.5263 57.5374 38.9569 57.9265 39.0991C58.3155 39.2412 58.7462 39.041 58.8883 38.652L61.2045 32.3118ZM60.1838 31.3743C43.2075 39.266 28.1943 36.5601 17.6398 29.4659C7.03902 22.3406 0.977035 10.8306 1.81595 1.12752L0.321526 0.998311C-0.575049 11.3683 5.86245 23.3571 16.8031 30.7109C27.7901 38.0958 43.3602 40.8491 60.8162 32.7345L60.1838 31.3743Z"
                        fill="#0B67F0" />
                </svg>
                <svg class="arrow mobile" width="37" height="37" viewBox="0 0 37 37" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M27.6043 32.832C27.9464 32.5985 28.0344 32.1318 27.8009 31.7897L23.9958 26.2144C23.7623 25.8723 23.2957 25.7842 22.9536 26.0177C22.6114 26.2512 22.5234 26.7179 22.7569 27.06L26.1392 32.0158L21.1834 35.3981C20.8413 35.6316 20.7532 36.0983 20.9867 36.4404C21.2202 36.7825 21.6869 36.8706 22.029 36.6371L27.6043 32.832ZM27.3205 31.4755C17.8238 29.6834 12.3667 24.047 10.0839 17.933C7.78144 11.7666 8.7162 5.17208 11.9243 1.42381L10.7847 0.44845C7.14135 4.70527 6.23299 11.9078 8.67862 18.4577C11.1438 25.06 17.0259 31.0593 27.0424 32.9495L27.3205 31.4755Z"
                        fill="#0B67F0" />
                </svg>
                <span>Next step is up to you</span>
            </div>
        </div>
        <div class="flow_details_item" data-aos="custom-fade" data-aos-delay="400">
            <div class="wrap">
                <div class="icon">
                    <img class="lazyWebp" alt="logo" width="40" height="40"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/umami_logo.svg" data-webp="./img/umami_logo.svg" />
                </div>
                <div class="content">
                    <div class="titleLine">
                        <h5>Contract </h5> <span class="tag">by Umami View</span>
                    </div>
                    <p>Our sales representative will now send you the contract document. You can sign this legally
                        binding
                        online and print it out if desired. This process speeds up the project and saves paper.</p>
                </div>
            </div>
        </div>
        <div class="flow_details_item" data-aos="custom-fade" data-aos-delay="600">
            <div class="wrap">
                <div class="icon">
                    <img class="lazyWebp" alt="logo" width="40" height="40"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/offer_icon.svg" data-webp="./img/offer_icon.svg" />
                </div>
                <div class="content">
                    <div class="titleLine">
                        <h5>Contract conclusion</h5> <span class="tag">by customer</span>
                    </div>
                    <p>Now sign the contract online so that we have the mandate to start the project together.</p>
                </div>
            </div>
        </div>
        <div class="flow_details_item" data-aos="custom-fade" data-aos-delay="800">
            <div class="wrap">
                <div class="icon">
                    <img class="lazyWebp" alt="logo" width="40" height="40"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/umami_logo.svg" data-webp="./img/umami_logo.svg" />
                </div>
                <div class="content">
                    <div class="titleLine">
                        <h5>Project start date</h5> <span class="tag">by Umami View</span>
                    </div>
                    <p>After signing the contract, a consultant will be appointed on the Umami Ware side to introduce
                        our
                        software to you. The consultant will contact you as soon as possible after signing the contract,
                        but
                        no later than 4 weeks after signing the contract, in order to officially start the project with
                        a
                        so-called "Project Kick-Off". </p>
                    <p>In this meeting you will receive an individual project plan from us, which will inform you about
                        the
                        most important topics such as data migration, installation and training.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="your_software_package" id="software-package">
    <div class="container">
        <div class="titleRow">
            <h2 class="title" data-aos="fade-up" data-aos-delay="0">Your unique Software Package</h2>
            <p data-aos="fade-up" data-aos-delay="50">Below you can see the offer tailored to you and your business
                needs.</p>
        </div>
        <div class="row contentRow nowrap">
            <div class="left" data-aos="fade-up" data-aos-delay="150">
                <div class="your_software_package__view">

                    <img class="icon lazyWebp" alt="logo" width="40" height="40"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/uniq_software_package.svg" data-webp="./img/uniq_software_package.svg" />
                    <h3>Umami-View inkl. aller Funktionen </h3>
                    <p>17 Apps und 1 Standort</p>
                </div>
            </div>
            <div class="right" data-aos="fade-up" data-aos-delay="250">
                <div class="your_software_package__wrap">
                    <div class="your_software_package__item">
                        <h4>Erstinstallation inkl. Migration</h4>
                        <div class="tableWrap">
                            <table>
                                <tbody>
                                    <tr class="alignTop">
                                        <td>
                                            Leistungsumfang:
                                            <ul>
                                                <li>Installation und Ersteinrichtung der Software Gemeinsame
                                                    Remote-Calls </li>
                                                <li>Vorkonfiguration der Kundenspezifischen Termini, bspw. Branding,
                                                    Logo, Frage, Pakete usw</li>
                                                <li>Software - und die Bereitstellung von Nutzerlizenzen </li>
                                                <li>Halbtagige Schulung </li>
                                            </ul>
                                        </td>
                                        <td class="price"><b>5.000 EUR<br> einmalig</b></td>
                                    </tr>
                                    <tr>
                                        <td>VAT</td>
                                        <td><b>10 EUR </b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="your_software_package__item">
                        <h4>Umami View inkl. aller Funktionalitaten (8 Apps)</h4>
                        <div class="tableWrap">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>2 Mitarbeiter und 1 Standort</td>
                                        <td><b>169,00 EUR p.M</b></td>
                                    </tr>
                                    <tr>
                                        <td>169,00 EUR p.M. x 18 Monate</td>
                                        <td><b>3.042 EUR</b></td>
                                    </tr>
                                    <tr>
                                        <td>VAT</td>
                                        <td><b>10 EUR </b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <table class="totalPrice">
                        <tbody>
                            <tr>
                                <td>Gesamtbetrag (Erstinstallation + Lizenzkosten)</td>
                                <td><b>8.042 EUR</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{>getProject}}