<div class="b-main intro__info">
  <div class="img">
    <img class="intro__decor lazy intro__decor--one" alt="intro"
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="./img/intro-sec/1.svg" />
    <img class="intro__decor lazy intro__decor--two" alt="intro"
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="./img/intro-sec/2.svg" />
    <img class="intro__decor lazy intro__decor--three" alt="intro"
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="./img/intro-sec/3.svg" />
    <img class="intro__decor lazy intro__decor--four" alt="intro"
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="./img/intro-sec/4.svg" />
    <img class="intro__decor lazy intro__decor--five" alt="intro"
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="./img/intro-sec/5.svg" />
    <img class="intro__decor lazy intro__decor--six" alt="intro"
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="./img/intro-sec/6.svg" />

    <svg width="1234" height="959" viewBox="0 0 1234 959" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M1378.11 -388.695L1375.08 -394.651C1354.49 -435.049 1299.6 -448.18 1252.22 -424.041L179.108 122.74C131.428 147.034 109.788 199.16 130.503 239.816L133.538 245.772C154.121 286.169 209.143 299.56 256.823 275.265L258.144 274.592C305.52 250.453 360.715 263.43 381.43 304.086C402.013 344.483 380.505 396.868 332.825 421.162L238.342 469.303C190.966 493.443 169.021 545.723 189.737 586.379L192.772 592.335C213.355 632.733 268.377 646.123 316.057 621.829L388.17 585.085C435.546 560.946 490.741 573.923 511.456 614.579L512.775 617.168C533.359 657.566 511.85 709.95 464.17 734.244L463.25 734.713C414.91 757.713 393.402 810.097 413.985 850.495L417.02 856.451C437.603 896.848 492.626 910.238 540.306 885.944L1589.92 351.137C1637.3 326.998 1659.24 274.718 1638.53 234.061L1635.49 228.105C1614.91 187.708 1559.89 174.318 1512.21 198.612L1456.21 227.146C1408.83 251.285 1353.64 238.309 1332.92 197.653L1331.6 195.063C1311.02 154.666 1332.53 102.281 1380.21 77.987L1496.95 18.505C1544.32 -5.63433 1566.27 -57.9148 1545.55 -98.571L1542.52 -104.527C1521.93 -144.924 1466.91 -158.314 1419.23 -134.02L1392.51 -120.403C1345.13 -96.2638 1289.93 -109.24 1269.22 -149.897C1248.64 -190.294 1270.14 -242.679 1317.82 -266.973L1329.28 -272.81C1377.18 -295.914 1398.69 -348.298 1378.11 -388.695Z"
        fill="url(#paint0_linear_10459_110234)" />
      <defs>
        <linearGradient id="paint0_linear_10459_110234" x1="0" y1="214" x2="1295.39" y2="-496.96"
          gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#229AFA" />
          <stop offset="1" stop-color="#1168F8" />
        </linearGradient>
        <linearGradient id="paint1_linear_10459_110234" x1="0" y1="0" x2="34.0537" y2="-0.581311"
          gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#229AFA" />
          <stop offset="1" stop-color="#1168F8" />
        </linearGradient>
        <linearGradient id="paint2_linear_10459_110234" x1="0" y1="0" x2="23.3511" y2="-0.398614"
          gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#229AFA" />
          <stop offset="1" stop-color="#1168F8" />
        </linearGradient>
        <linearGradient id="paint3_linear_10459_110234" x1="0" y1="0" x2="16.5404" y2="-0.282351"
          gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#229AFA" />
          <stop offset="1" stop-color="#1168F8" />
        </linearGradient>
        <linearGradient id="paint4_linear_10459_110234" x1="0" y1="0" x2="47.6752" y2="-0.813836"
          gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#229AFA" />
          <stop offset="1" stop-color="#1168F8" />
        </linearGradient>
      </defs>
    </svg>
    <svg class="mobile" width="375" height="366" viewBox="0 0 375 366" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M413.812 -50.4575L412.879 -52.2881C406.553 -64.7043 389.682 -68.7402 375.121 -61.3208L45.292 106.735C30.6373 114.202 23.986 130.223 30.3529 142.719L31.2856 144.55C37.612 156.966 54.5234 161.081 69.1781 153.614L69.5841 153.408C84.1454 145.988 101.11 149.977 107.477 162.472C113.803 174.889 107.192 190.989 92.5374 198.456L63.4974 213.253C48.9361 220.672 42.1914 236.741 48.5583 249.237L49.491 251.067C55.8174 263.483 72.7288 267.599 87.3835 260.132L109.548 248.839C124.109 241.419 141.073 245.407 147.44 257.903L147.846 258.699C154.172 271.115 147.561 287.216 132.907 294.683L132.624 294.827C117.766 301.896 111.156 317.997 117.482 330.413L118.415 332.244C124.741 344.66 141.652 348.775 156.307 341.308L478.913 176.932C493.474 169.513 500.219 153.444 493.852 140.949L492.919 139.118C486.593 126.702 469.682 122.586 455.027 130.053L437.815 138.823C423.253 146.243 406.289 142.254 399.922 129.759L399.517 128.963C393.19 116.546 399.801 100.446 414.456 92.9789L450.337 74.6968C464.898 67.2774 471.643 51.2088 465.276 38.713L464.343 36.8824C458.017 24.4662 441.105 20.3507 426.45 27.8177L418.236 32.0029C403.675 39.4223 386.711 35.434 380.344 22.9382C374.017 10.522 380.628 -5.57861 395.283 -13.0456L398.804 -14.8397C413.528 -21.9407 420.139 -38.0413 413.812 -50.4575Z"
        fill="url(#paint0_linear_10459_110236)" />
      <defs>
        <linearGradient id="paint0_linear_10459_110236" x1="-9.75781" y1="134.785" x2="388.387" y2="-83.7333"
          gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#229AFA" />
          <stop offset="1" stop-color="#1168F8" />
        </linearGradient>
        <linearGradient id="paint1_linear_10459_110236" x1="28.0046" y1="173.014" x2="40.1615" y2="172.806"
          gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#229AFA" />
          <stop offset="1" stop-color="#1168F8" />
        </linearGradient>
        <linearGradient id="paint2_linear_10459_110236" x1="317.362" y1="295.421" x2="325.8" y2="295.277"
          gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#229AFA" />
          <stop offset="1" stop-color="#1168F8" />
        </linearGradient>
        <linearGradient id="paint3_linear_10459_110236" x1="333.08" y1="282.13" x2="339.251" y2="282.024"
          gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#229AFA" />
          <stop offset="1" stop-color="#1168F8" />
        </linearGradient>
        <linearGradient id="paint4_linear_10459_110236" x1="63.2114" y1="292.37" x2="80.2168" y2="292.079"
          gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#229AFA" />
          <stop offset="1" stop-color="#1168F8" />
        </linearGradient>
      </defs>
    </svg>


  </div>
  <div class="container">
    <div class="box">
      <div class="left">
        <div class="subtitle">Clear vision:</div>
        <h1>Optometrist Apps by Umami View!</h1>
        <p>Our apps for opticians make your everyday life easier. Work more
          efficiently, faster and easier with optometrist software that connects
          all areas of your IT in one clear platform.</p>
        <p>Subscribe to our info-newsletter now!</p>
        <div class="blog-subscribe">
          <form class="form form-valid-subscribe" novalidate>
            <div class="form-group">
              <input id="placeholder__intro" name="email" type="email" class="mail" required
                placeholder="Enter your email address" />
            </div>
            <button id="button__intro" class="js-ripple" type="submit">
              Digitalize now!
            </button>
            <div class="form-thanks">
              <svg width="44" height="44" viewbox="0 0 44 44" fill="none">
                <circle cx="22" cy="22" r="22" fill="url(#paint0_linear12)"></circle>
                <path
                  d="M34.7709 13.6293C35.3436 14.2021 35.3436 15.1308 34.7709 15.7035L19.8004 30.674L10.6967 21.5702C10.1239 20.9974 10.1239 20.0688 10.6967 19.496C11.2694 18.9232 12.1981 18.9232 12.7708 19.496L19.8004 26.5256L32.6967 13.6293C33.2694 13.0566 34.1981 13.0566 34.7709 13.6293Z"
                  fill="white"></path>
                <defs>
                  <linearGradient id="paint0_linear12" x1="0" y1="0" x2="42.8104" y2="-0.730792"
                    gradientunits="userSpaceOnUse">
                    <stop offset="0" stop-color="#229AFA"></stop>
                    <stop offset="1" stop-color="#1168F8"></stop>
                  </linearGradient>
                </defs>
              </svg>
              <span id="form_subscribeThanks_text">Thank you! You have signed up
                for our newsletter.</span>
            </div>
          </form>
        </div>
      </div>
      <div class="right">
        <div class="intro__img">
          <div class="static-intro_tablet_desc"
            data-video="https://www.youtube-nocookie.com/embed/hfehUxApEWg?modestbranding=1&autoplay=1&rel=0&color=white&autohide=0&enablejsapi=1">
            <img class="lazyImportant" data-src="./img/video_frame.png" data-webp="./img/video_frame.webp" alt="frame"
              width="259" height="196"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
          </div>
          <div class="static-girl">
            <img class="lazyImportant" data-src="./img/static-girl.svg" alt="girl" width="137" height="298"
              src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
          </div>
          <div class="intro__mob">
            <svg width="664" height="474" viewBox="0 0 664 474" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M581.762 35.3235L581.085 32.7942C576.488 15.6392 556.525 6.13729 536.406 11.5282L79.5158 133.952C59.2678 139.377 46.7306 157.587 51.3567 174.852L52.0344 177.382C56.6311 194.537 76.6232 204.148 96.8712 198.723L97.4321 198.573C117.551 193.182 137.643 202.649 142.269 219.914C146.866 237.069 134.358 255.389 114.11 260.815L73.9862 271.566C53.8672 276.957 41.201 295.202 45.8271 312.467L46.5048 314.996C51.1015 332.151 71.0937 341.763 91.3416 336.337L121.965 328.132C142.084 322.741 162.176 332.208 166.802 349.473L167.097 350.573C171.693 367.728 159.186 386.048 138.938 391.474L138.547 391.578C118.152 396.454 105.644 414.774 110.24 431.929L110.918 434.458C115.515 451.613 135.507 461.225 155.755 455.8L601.49 336.366C621.609 330.975 634.275 312.73 629.649 295.465L628.971 292.936C624.374 275.781 604.382 266.169 584.134 271.594L560.353 277.966C540.234 283.357 520.142 273.89 515.516 256.625L515.221 255.525C510.625 238.37 523.132 220.05 543.38 214.625L592.955 201.341C613.074 195.95 625.741 177.705 621.115 160.44L620.437 157.911C615.84 140.756 595.848 131.144 575.6 136.57L564.251 139.611C544.132 145.001 524.04 135.534 519.414 118.269C514.817 101.114 527.325 82.7939 547.573 77.3685L553.614 75.7497C573.851 70.7987 586.359 52.4786 581.762 35.3235Z"
                fill="url(#paint0_linear_10459_110235)" />
              <defs>
                <linearGradient id="paint0_linear_10459_110235" x1="3.45508" y1="154.332" x2="557.708" y2="-12.5819"
                  gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#229AFA" />
                  <stop offset="1" stop-color="#1168F8" />
                </linearGradient>
                <linearGradient id="paint1_linear_10459_110235" x1="5.08585" y1="51.0858" x2="30.6486" y2="50.6494"
                  gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#229AFA" />
                  <stop offset="1" stop-color="#1168F8" />
                </linearGradient>
                <linearGradient id="paint2_linear_10459_110235" x1="613.53" y1="350.53" x2="631.272" y2="350.227"
                  gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#229AFA" />
                  <stop offset="1" stop-color="#1168F8" />
                </linearGradient>
                <linearGradient id="paint3_linear_10459_110235" x1="646.582" y1="322.582" x2="659.56" y2="322.361"
                  gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#229AFA" />
                  <stop offset="1" stop-color="#1168F8" />
                </linearGradient>
                <linearGradient id="paint4_linear_10459_110235" x1="9.11424" y1="374.115" x2="44.8721" y2="373.504"
                  gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#229AFA" />
                  <stop offset="1" stop-color="#1168F8" />
                </linearGradient>
              </defs>
            </svg>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="intro__circle" id="intro__circle">
    <img id="discover__intro" alt="intro" class="lazyImportant" data-src="./img/dicover.svg" alt="dicover"
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
    <div class="intro__center"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="">
        <path
          d="M17.7071 13.7075C18.0976 13.317 18.0976 12.6838 17.7071 12.2933C17.3166 11.9028 16.6834 11.9028 16.2929 12.2933L13 15.5862L13 6.00037C13 5.44809 12.5523 5.00037 12 5.00037C11.4477 5.00037 11 5.44808 11 6.00037L11 15.5862L7.7071 12.2933C7.3166 11.9028 6.6834 11.9028 6.2929 12.2933C5.9024 12.6838 5.9024 13.317 6.2929 13.7075L11.2929 18.7075C11.6834 19.098 12.3166 19.098 12.7071 18.7075L17.7071 13.7075Z"
          fill="url(#paint0_linear)"></path>
        <defs>
          <linearGradient id="paint0_linear" x1="18" y1="5.00037" x2="18.2712" y2="18.6204"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#229AFA"></stop>
            <stop offset="1" stop-color="#1168F8"></stop>
          </linearGradient>
        </defs>
      </svg></div>
  </div>
</div>
<div class="overlay-video" id="overlay-video" style="">
  <div class="close-video"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M7.12117 5.70708C6.73064 5.31655 6.09748 5.31655 5.70696 5.70708C5.31643 6.0976 5.31643 6.73077 5.70696 7.12129L10.6567 12.0711L5.70698 17.0208C5.31646 17.4113 5.31646 18.0445 5.70698 18.435C6.09751 18.8255 6.73067 18.8255 7.1212 18.435L12.0709 13.4853L17.0207 18.435C17.4112 18.8255 18.0444 18.8255 18.4349 18.435C18.8254 18.0445 18.8254 17.4113 18.4349 17.0208L13.4851 12.0711L18.4349 7.12129C18.8254 6.73077 18.8254 6.0976 18.4349 5.70708C18.0444 5.31655 17.4112 5.31655 17.0207 5.70708L12.0709 10.6568L7.12117 5.70708Z"
        fill="#A3B1CD"></path>
    </svg></div>
  <div class="overlay-video-box">
    <div>

    </div>
  </div>
</div>

{{>partners list=partners}}
{{>workflow}}
{{>ourApp list=ourApps}}
{{>solutions}}
{{>calculate}}
{{>customizable}}
{{>integrations list=integrations}}
{{>experience}}
{{>getStarted}}
{{>preferences}}

{{!-- {{>calculate}}
{{>customizable}}
{{>integrations list=integrations}} --}}